Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*

adding logs
  checkout-test/test_routes.py
Due: none

Bump deprecated github action versions
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish_images.yaml
  .github/workflows/puppet.yaml
  .github/workflows/sonarcloud.yml
  .github/workflows/transcoder.yaml
Due: none

Fix another CI warning
  .github/workflows/build-test.yaml
Due: none

removed rpt_item_index
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/report.py
  anms-core/integration_test/openapi.json
Due: anms-core_unit-test, anms-core_integration-test

Bump deprecated github action versions (#333)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish_images.yaml
  .github/workflows/puppet.yaml
  .github/workflows/sonarcloud.yml
  .github/workflows/transcoder.yaml
Due: none

Update readme; get and load agent reports
  anms-ui/angular-port/anms-ui/README.md
  anms-ui/angular-port/anms-ui/angular.json
  anms-ui/angular-port/anms-ui/src/app/features/adms/adms.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agent-modal/agent-modal.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agent-modal/agent-modal.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.ts
  anms-ui/angular-port/anms-ui/src/app/shared/api-adm.service.ts
  anms-ui/angular-port/anms-ui/src/app/shared/api.service.ts
  anms-ui/angular-port/anms-ui/src/app/store/modules/agents.service.ts
Due: anms-ui_unit-test

Update readme; update agents page
  anms-ui/angular-port/anms-ui/README.md
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.html
Due: anms-ui_unit-test

Update package.json with angular cli depdendency
  anms-ui/angular-port/anms-ui/package.json
Due: anms-ui_unit-test

changed time_offset to agent_time
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

REST API Error Handling Improvements & Import of dtnma-tools SQL concurrency fix (#322)
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

updated to align with latest dtnma-tools
  anms-core/anms/models/relational/report.py
  grafana/provisioning/dashboards/anms-monitor.json
Due: anms-core_unit-test, anms-core_integration-test

added default values for error handling
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

combining reports that are the same ARI but stored with nn or no nn
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/shared/transmogrifier.py
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/shared/api.js
  anms-ui/public/app/store/modules/service_status.js
  anms-ui/server/components/reports.js
  anms-ui/server/core/routes.js
  grafana/provisioning/dashboards/anms-monitor.json
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

adding missing _ in transcoder_put_str
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

removed extra logs
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/shared/constants.js
  anms-ui/public/app/store/modules/agents.js
  anms-ui/server/components/reports.js
  anms-ui/server/components/transcoder.js
Due: anms-ui_unit-test

addressing sonar issues
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

281 user friendly decommutation of received reports (#332)
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/const.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/transmogrifier.py
  anms-core/integration_test/openapi.json
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/shared/api.js
  anms-ui/public/app/shared/constants.js
  anms-ui/public/app/store/modules/service_status.js
  anms-ui/server/components/reports.js
  anms-ui/server/components/transcoder.js
  anms-ui/server/core/routes.js
  checkout-test/test_routes.py
  grafana/provisioning/dashboards/anms-monitor.json
  grafana/provisioning/datasources/datasource.yml
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fixing sonar issues
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

removed extra log
  anms-ui/public/app/store/modules/agents.js
Due: anms-ui_unit-test

annotations pushed params to body
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

simplified exception handling for ace_transcode
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

sending 500 if encounter error in transcoder
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

255 ari transcoding performance (#349)
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/transmogrifier.py
  anms-ui/server/components/reports.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

ResourceCache to LFU cache
  anms-core/anms/routes/ARIs/ari.py
Due: anms-core_unit-test, anms-core_integration-test

Add toastr notification service, fix some dependencies
  anms-ui/angular-port/anms-ui/angular.json
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/angular-port/anms-ui/src/app/shared/notification.service.ts
Due: anms-ui_unit-test

Fix selection behavior in agents table
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/angular-port/anms-ui/src/index.html
Due: anms-ui_unit-test

ResourceCache to LFU cache (#351)
  anms-core/anms/routes/ARIs/ari.py
Due: anms-core_unit-test, anms-core_integration-test

add manage agents dialog component
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agent-modal/agent-modal.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/crud/crud.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.ts
Due: anms-ui_unit-test

implement remaining UI elements in manage dialog
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/styles.css
Due: anms-ui_unit-test

implement populated ARI select inputs, support parameters
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/ari.model.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
Due: anms-ui_unit-test

Fix raw link to userguide in README.md
  README.md
Due: none

Finish agents manage dialog implementation, adjust API paths, make constants definition and environment var usage clecleaner
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/model/ari.model.ts
  anms-ui/angular-port/anms-ui/src/app/layout/header/header.ts
  anms-ui/angular-port/anms-ui/src/app/layout/sidebar/sidebar.ts
  anms-ui/angular-port/anms-ui/src/app/shared/api.service.ts
  anms-ui/angular-port/anms-ui/src/app/shared/constants.ts
  anms-ui/angular-port/anms-ui/src/environments/environment.ts
Due: anms-ui_unit-test

Add version number to header, defined in environment file
  anms-ui/angular-port/anms-ui/src/app/layout/header/header.html
  anms-ui/angular-port/anms-ui/src/app/layout/header/header.ts
  anms-ui/angular-port/anms-ui/src/app/shared/constants.ts
  anms-ui/angular-port/anms-ui/src/environments/environment.development.ts
  anms-ui/angular-port/anms-ui/src/environments/environment.ts
Due: anms-ui_unit-test
