Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*

Fix internal use of DM REST API
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/agent_parameter.py
  anms-core/anms/shared/manager_checker.py
  checkout-test/entrypoint.sh
  checkout-test/test_routes.py
Due: anms-core_unit-test, anms-core_integration-test

Do not double count ruff jobs or recurse submodules
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
Due: none

Be more precise about submodules
  .github/workflows/anms-core.yaml
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

better control submodules in CI
  .github/workflows/anms-core.yaml
  .github/workflows/build-test.yaml
Due: none

Use nodejs module from official repos
  anms.Containerfile
Due: none

EPEL for nodejs
  anms.Containerfile
Due: none

fix node install
  anms.Containerfile
Due: none

Force special char in opensearch PW
  update_env.sh
Due: none

Avoid UID above SYS_UID_MAX
  anms.Containerfile
Due: none

247 container build size optimization (#374)
  anms.Containerfile
Due: none

Smarter password generation in setup script to meet updated opensearch password requirements.
  gen_password.sh
  update_env.sh
Due: none

Address SonarQube issues
  gen_password.sh
Due: none

new files for alert table and websocket
  anms-core/anms/components/schemas/alert.py
  anms-core/anms/models/relational/alert.py
  anms-core/anms/routes/alerts.py
  anms-core/anms/routes/alerts_ws.py
  anms-core/anms/shared/alerts.py
  anms-core/anms/shared/anms_ws.py
Due: anms-core_unit-test, anms-core_integration-test

cleaning up core routes
  anms-core/anms/components/schemas/__init__.py
  anms-core/anms/components/schemas/agent_parameter.py
  anms-core/anms/models/relational/actual_object.py
  anms-core/anms/models/relational/agent_parameter.py
  anms-core/anms/models/relational/formal_object.py
  anms-core/anms/routes/ARIs/actual_objects.py
  anms-core/anms/routes/ARIs/actual_parameter.py
  anms-core/anms/routes/ARIs/agents.py
  anms-core/anms/routes/ARIs/alerts.py
  anms-core/anms/routes/ARIs/formal_objects.py
  anms-core/anms/routes/ARIs/formal_parameter.py
  anms-core/anms/routes/ARIs/literal_object.py
  anms-core/anms/routes/agent_parameter.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/agent_parameter.py
  anms-core/anms/shared/config.py
  anms-core/anms/shared/manager_checker.py
  anms-ui/server/core/routes.js
  anms-ui/src/app/features/management/agents/crud/crud.ts
  anms-ui/src/app/shared/api.service.ts
  anms-ui/src/app/store/modules/agents.service.ts
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Removed unicode characters
  gen_password.sh
Due: none

Smarter password generation in setup script to meet updated opensearch password requirements. (#379)
  gen_password.sh
  update_env.sh
Due: none

add multi-file upload for ADMs, fix bug in builder, make toasts persistent until dismissed (#371)
  anms-ui/src/app/features/adms/adms.html
  anms-ui/src/app/features/adms/adms.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/src/app/shared/notification.service.ts
Due: anms-ui_unit-test

Use different reverse proxy path to preserve /nm prefix
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/config.py
  checkout-test/test_routes.py
  docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

put path back
  send_ctrls.sh
Due: none

Use new non-deprecated ARI forms for REFDM access
  anms-core/anms/routes/transcoder.py
  checkout-test/test_routes.py
Due: anms-core_unit-test, anms-core_integration-test

fixing adm error
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/registry.py
  anms-core/anms/shared/ace_runner.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

fixed cert for grafana, fixed transmogrifier errors
  anms-core/anms/shared/manager_checker.py
  anms-core/anms/shared/transmogrifier.py
  anms.Containerfile
  auth/demo/httpd.conf
Due: anms-core_unit-test, anms-core_integration-test

added nm route to ui
  anms-ui/server/components/networkManager.js
  anms-ui/server/shared/config.js
  anms-ui/server/shared/utils.js
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/shared/api.service.ts
Due: anms-ui_unit-test

292 core routes cleanup (#380)
  anms-core/anms/components/schemas/alert.py
  anms-core/anms/models/relational/actual_object.py
  anms-core/anms/models/relational/agent_parameter.py
  anms-core/anms/models/relational/alert.py
  anms-core/anms/models/relational/formal_object.py
  anms-core/anms/routes/ARIs/actual_objects.py
  anms-core/anms/routes/ARIs/actual_parameter.py
  anms-core/anms/routes/ARIs/agents.py
  anms-core/anms/routes/ARIs/formal_objects.py
  anms-core/anms/routes/ARIs/formal_parameter.py
  anms-core/anms/routes/ARIs/literal_object.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/agent_parameter.py
  anms-core/anms/routes/alerts.py
  anms-core/anms/routes/alerts_ws.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/ace_runner.py
  anms-core/anms/shared/agent_parameter.py
  anms-core/anms/shared/alerts.py
  anms-core/anms/shared/anms_ws.py
  anms-core/anms/shared/config.py
  anms-core/anms/shared/manager_checker.py
  anms-core/anms/shared/transmogrifier.py
  anms-ui/server/core/routes.js
  anms-ui/src/app/features/management/agents/crud/crud.ts
  anms-ui/src/app/shared/api.service.ts
  anms-ui/src/app/store/modules/agents.service.ts
  anms.Containerfile
  auth/demo/httpd.conf
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fix merge issue
  anms-core/anms/shared/manager_checker.py
Due: anms-core_unit-test, anms-core_integration-test

Avoid UID above SYS_UID_MAX (#378)
  anms.Containerfile
Due: none

fixed issues sending cmd to NM and displaying reports
  anms-core/anms/shared/manager_checker.py
  anms-ui/server/components/networkManager.js
  anms-ui/server/components/reports.js
  anms-ui/server/components/transcoder.js
  anms-ui/server/core/routes.js
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/shared/api.service.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated docs and export.sh for using GIT_VERSION as version var
  docker-compose.yml
  example.env
  export.sh
  update_env.sh
Due: none

Update CHANGELOG file for all tagged and latest changes on main
  CHANGELOG
Due: none

Add type filtering to ARI builder search bar and API endpoint
  anms-core/anms/routes/ARIs/ari.py
  anms-ui/README.md
  anms-ui/server/components/ariBuilder.js
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  anms-ui/src/app/shared/api.service.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fixing broken routes working sending cmd to agents
  anms-ui/server/components/networkManager.js
  anms-ui/server/core/routes.js
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
Due: anms-ui_unit-test

Revert to curl script install
  anms.Containerfile
Due: none

Remove DM passthrough routes (#375)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/transcoder.yaml
  anms-core/anms/components/schemas/__init__.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/manager_checker.py
  anms-core/integration_test/docker-compose.yml
  anms-ui/server/components/networkManager.js
  anms-ui/server/components/reports.js
  anms-ui/server/components/transcoder.js
  anms-ui/server/core/routes.js
  anms-ui/server/shared/config.js
  anms-ui/server/shared/utils.js
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/src/app/shared/api.service.ts
  checkout-test/entrypoint.sh
  checkout-test/test_routes.py
  docker-compose.yml
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated docs and export.sh for using GIT_VERSION as version var (#381)
  docker-compose.yml
  example.env
  export.sh
  update_env.sh
Due: none

Allow INTERNAL_CERT_URL environment with quickstart
  example.env
  quickstart.sh
Due: none

Fix sonarqube warnings for find methods and test methods
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

Reduce CHANGELOG contents and add reference to wiki page
  CHANGELOG
Due: none
