Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

fix: replace fragile .env parsing in opensearch tests with env vars
  anms-ui/integration_test/tests/opensearch.test.ts
Due: anms-ui_unit-test

fix: add health checks and wire seed data into global-setup
  anms-ui/integration_test/tests/global-setup.ts
Due: anms-ui_unit-test

fix: add anms-core/amp-manager health checks and seed data in start script
  anms-ui/integration_test/start-integration-tests.sh
Due: anms-ui_unit-test

fix: unify BASE_URL and replace waitForTimeout in integration tests
  anms-ui/integration_test/AUDIT_REPORT.md
  anms-ui/integration_test/INTEGRATION_TEST_GAP_ANALYSIS.md
  anms-ui/integration_test/playwright.config.ts
  anms-ui/integration_test/tests/agents.test.ts
  anms-ui/integration_test/tests/api-performance.test.ts
  anms-ui/integration_test/tests/auth-setup.ts
  anms-ui/integration_test/tests/authnz.test.ts
  anms-ui/integration_test/tests/base.test.ts
  anms-ui/integration_test/tests/build.test.ts
  anms-ui/integration_test/tests/concurrent.test.ts
  anms-ui/integration_test/tests/config.ts
  anms-ui/integration_test/tests/error-recovery.test.ts
  anms-ui/integration_test/tests/global-setup.ts
  anms-ui/integration_test/tests/grafana-live-reconnect.test.ts
  anms-ui/integration_test/tests/grafana-proxy.test.ts
  anms-ui/integration_test/tests/monitor.test.ts
  anms-ui/integration_test/tests/navigation.test.ts
  anms-ui/integration_test/tests/opensearch.test.ts
  anms-ui/integration_test/tests/session.test.ts
  anms-ui/integration_test/tests/visual-regression.test.ts
  anms-ui/integration_test/utils/api-helpers.ts
Due: anms-ui_unit-test

fix: add conditional service skips and JSON reporter to integration tests
  anms-ui/integration_test/playwright.config.ts
  anms-ui/integration_test/tests/grafana-live-reconnect.test.ts
  anms-ui/integration_test/tests/grafana-proxy.test.ts
  anms-ui/integration_test/tests/monitor.test.ts
  anms-ui/integration_test/tests/opensearch.test.ts
Due: anms-ui_unit-test

fix: update authnz port mapping and postgres volume path for podman
  anms-ui/integration_test/.env
  anms-ui/integration_test/docker-compose-full.yml
Due: anms-ui_unit-test

feat: add isolated optimization patch scripts for independent testing
  scripts/async_opensearch_logger.py
  scripts/benchmark_patches.py
  scripts/db_pool_optimizer.py
Due: none

added new toasts and fixed updating alerts (#366)
  anms-ui/src/app/shared/notification.service.ts
  anms-ui/src/app/store/modules/service-status.service.ts
Due: anms-ui_unit-test

addressing PR comments
  auth/demo/httpd.conf
  opensearch/opensearch_dashboards.yml
Due: none

update to add back all granted to httpd
  auth/demo/httpd.conf
Due: none

revert: restore source files and remove functional diffs
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/version.py
  anms-ui/server/components/main.js
  anms-ui/server/components/networkManager.js
  anms-ui/src/app/layout/header/header.html
  anms-ui/src/environments/environment.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Add flake8 deps and options
  anms-core/pyproject.toml
  aricodec/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test

fix test steps
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  transcoder/pyproject.toml
  transcoder/requirements.txt
Due: transcoder_unit-test

Allow start step to fail and catch bad status in next steps
  .github/workflows/build-test.yaml
Due: none

Add flake8 deps and options (#369)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/transcoder.yaml
  anms-core/pyproject.toml
  transcoder/pyproject.toml
  transcoder/requirements.txt
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

Fix hello test endpoint
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
Due: anms-core_unit-test, anms-core_integration-test

Fix hello test endpoint (#370)
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
Due: anms-core_unit-test, anms-core_integration-test

Add ruff to pyproject.toml files and ruff check and format jobs to workflows
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  anms-core/pyproject.toml
  aricodec/pyproject.toml
  transcoder/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

add multi-file upload for ADMs, fix bug in builder, make toasts persistent until dismissed
  anms-ui/src/app/features/adms/adms.html
  anms-ui/src/app/features/adms/adms.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/src/app/shared/notification.service.ts
Due: anms-ui_unit-test

Pin ruff version in pyproject dependencies
  anms-core/pyproject.toml
  aricodec/pyproject.toml
  transcoder/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

Pin version of pip-tools to fix typing_extensions import error
  anms.Containerfile
Due: none

271 opensearch containers (#367)
  anms-ui/src/app/features/management/monitor/monitor.html
  auth/demo/httpd.conf
  docker-compose.yml
  opensearch/config.yml
  opensearch/dashboards/opensearch.ndjson
  opensearch/opensearch_dashboards.yml
Due: anms-ui_unit-test

Make sure source check jobs run on PRs
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
Due: none

Add import sorting check to ruff rule select list
  anms-core/pyproject.toml
  aricodec/pyproject.toml
  transcoder/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

Remove flake8 from project and CI and replace with ruff in documentation
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  anms-core/pyproject.toml
  anms-ui/CONTRIBUTING.md
  aricodec/pyproject.toml
  transcoder/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

299 Improve automated build test ruff (#372)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  anms-core/pyproject.toml
  anms-ui/CONTRIBUTING.md
  anms.Containerfile
  aricodec/pyproject.toml
  transcoder/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Set weak dependencies for dnf installs and add dnf cleans
  anms.Containerfile
Due: none

Combine anms-ui deps and build and add a prune to reduce final size
  anms.Containerfile
Due: none

Add missing dependency not installed by using weak deps
  anms.Containerfile
Due: none

Use simplified DM REST prefix
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/config.py
  checkout-test/test_routes.py
  send_ctrls.sh
Due: anms-core_unit-test, anms-core_integration-test

Removing routes that duplicate direct manager access
  anms-core/anms/components/schemas/__init__.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Test with newer version of ION
  testenv.Containerfile
Due: none

Fix ION build env
  testenv.Containerfile
Due: none

PKG_CONFIG_PATH for ION install
  testenv.Containerfile
Due: none

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
