Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*

Updated README.
  README.md
Due: none

Removing test branch reference from workflow.
  .github/workflows/publish_images.yaml
Due: none

Feature/177 ghcr container publishing (#251)
  .env
  .github/workflows/publish_images.yaml
  .github/workflows/puppet.yaml
  README.md
  anms-core/anms/routes/ARIs/reports.py
  quickstart.sh
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

Re-add env variable override option for the amp-manager port.
  docker-compose.yml
Due: none

fixed type know to known
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

fixed handling bad inputs for ADMs routes (#256)
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

Re-add env variable override option for the amp-manager port. (#257)
  docker-compose.yml
Due: none

fixed pagnation issue/ refreshed transcoder table format
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

fixed updateNonce error and made addARI btn always an option
  anms-ui/public/app/components/management/builder/ActionParameter.vue
Due: anms-ui_unit-test

if there no object to add do nothing
  anms-ui/public/app/components/management/builder/buildAri.vue
Due: anms-ui_unit-test

correctly copy mgr.rc file
  testenv.Containerfile
Due: none

fixed handlePageChange not found issue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

file clean up
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

215 transcoder log table navigation misbehavior (#260)
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
  testenv.Containerfile
Due: anms-ui_unit-test

fixed hadnling reports with null nonces
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

working on reports with null nonces and header and row len mismatch
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

fixing adding bad parameter info
  anms-ui/public/app/components/management/builder/primParameter.vue
Due: anms-ui_unit-test

fixing up report display
  anms-core/anms/routes/ARIs/reports.py
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

removed ARI infront of hex
  anms-ui/public/app/components/management/builder/buildAri.vue
Due: anms-ui_unit-test

Suppress ping output from anms-core status page to reduce log noise.
  anms-core/anms/routes/system_status.py
Due: anms-core_unit-test, anms-core_integration-test

Redirect ping stdout to /dev/null
  anms-core/anms/routes/system_status.py
Due: anms-core_unit-test, anms-core_integration-test

Suppress ping output from anms-core status page to reduce log noise. (#262)
  anms-core/anms/routes/system_status.py
Due: anms-core_unit-test, anms-core_integration-test

upgrading to use grafana infinty and better plot rptsets
  anms-core/anms/routes/ARIs/reports.py
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/monitor/Monitor.vue
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/store/modules/service_status.js
  anms-ui/server/core/routes.js
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

working updated grafana and added example infitiy source
  anms-ui/public/app/components/management/monitor/Monitor.vue
  grafana/grafana.ini
  grafana/grafana_vol/grafana.db
Due: anms-ui_unit-test

fixed Received Reports added ploting edd example
  grafana/grafana_vol/grafana.db
Due: none

removed logs and added trys back
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

fixed status for new grafana
  anms-core/anms/routes/system_status.py
Due: anms-core_unit-test, anms-core_integration-test

fixed flatting
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

fixing agent alerts in UI
  anms-core/anms/routes/ARIs/alerts.py
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/store/modules/service_status.js
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

switching to JSON file for alert storage
  anms-core/anms/shared/manager_checker.py
Due: anms-core_unit-test, anms-core_integration-test

removed ARI from cborhex
  anms-ui/public/app/components/management/builder/Build.vue
Due: anms-ui_unit-test

file clean up
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

fix for handling string based nonce_cbor
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

Revert "working updated grafana and added example infitiy source"
  anms-ui/public/app/components/management/monitor/Monitor.vue
  grafana/grafana.ini
Due: anms-ui_unit-test

reverting grafana upgrade
  anms-ui/public/app/components/management/monitor/Monitor.vue
  anms.Containerfile
Due: anms-ui_unit-test

239 invalid use of ari text prefix for binary form of values (#269)
  anms-core/anms/routes/ARIs/alerts.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/manager_checker.py
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/Build.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/primParameter.vue
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/store/modules/service_status.js
  anms-ui/server/core/routes.js
  anms.Containerfile
  grafana/grafana_vol/grafana.db
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

correctly formating AC with typedef values
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
Due: anms-ui_unit-test

code cleanup remove debug prints
  anms-core/anms/shared/manager_checker.py
Due: anms-core_unit-test, anms-core_integration-test
