Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

expand: Add error recovery, API performance, navigation, and session tests
  anms-ui/integration_test/tests/api-performance.test.ts
  anms-ui/integration_test/tests/error-recovery.test.ts
  anms-ui/integration_test/tests/navigation.test.ts
  anms-ui/integration_test/tests/session.test.ts
Due: anms-ui_unit-test

add: Playwright configuration and test scaffolding
  anms-ui/integration_test/package.json
  anms-ui/integration_test/playwright.config.ts
  anms-ui/integration_test/tests/global-setup.ts
  anms-ui/integration_test/tests/global-teardown.ts
Due: anms-ui_unit-test

test: go through authnz like production — form-based login, correct PROXY_URLS, remove routes.js Grafana proxy
  anms-ui/integration_test/docker-compose-full.yml
  anms-ui/integration_test/playwright.config.ts
  anms-ui/integration_test/tests/auth-setup.ts
Due: anms-ui_unit-test

add seed_agents.py — script to create 100+ agents with realistic URIs and timestamps (P2)
  anms-ui/integration_test/tests/seed/seed_agents.py
Due: anms-ui_unit-test

remove standalone /nm/agents route from Express server
  anms-ui/server/core/routes.js
Due: anms-ui_unit-test

add: Redis caching proxy and scaling test scripts for performance tuning
  docker-compose-test.yml
  scripts/redis_cache_proxy.py
  scripts/stress_scaling_cached.py
  scripts/stress_scaling_quick.py
Due: none

add visual regression baselines + grafana-live test fixes (P3)
  anms-ui/integration_test/tests/global-setup.ts
  anms-ui/integration_test/tests/grafana-live-reconnect.test.ts
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-dashboard-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-monitor-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-reports-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-dashboard-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-monitor-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-reports-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-dashboard-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-monitor-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-reports-chromium-linux.png
Due: anms-ui_unit-test

add grafana-live-reconnect.test.ts — network drop simulation, WebSocket endpoint, iframe tests (P3)
  anms-ui/integration_test/tests/grafana-live-reconnect.test.ts
Due: anms-ui_unit-test

add visual-regression.test.ts — screenshot comparison at 3 breakpoints (P3)
  anms-ui/integration_test/tests/visual-regression.test.ts
Due: anms-ui_unit-test

add Grafana proxy tests (P1 — 7 tests: root, health, dashboard, Live API, dashboards, renderer, monitor page)
  anms-ui/integration_test/tests/grafana-proxy.test.ts
Due: anms-ui_unit-test

add: restart amp-manager after compose up (stress-test.sh + stress-test-detailed.sh)
  stress-test.sh
Due: none

refactor: extract embedded Python from stress-test-detailed.sh into scripts/
  scripts/stress_connection_pool.py
  scripts/stress_container_stats.py
  scripts/stress_endpoint_latency.py
  scripts/stress_grafana_path.py
  scripts/stress_logging_latency.py
  scripts/stress_proxy_overhead.py
  scripts/stress_sustained_load.py
  scripts/stress_utils.py
  stress-test-detailed.sh
Due: none

fix(integration_tests): fix OpenSearch auth, grafana-proxy auth, and visual regression dynamic content
  anms-ui/integration_test/tests/grafana-proxy.test.ts
  anms-ui/integration_test/tests/opensearch.test.ts
  anms-ui/integration_test/tests/visual-regression.test.ts
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-desktop-monitor-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-laptop-monitor-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-agents-chromium-linux.png
  anms-ui/integration_test/tests/visual-regression.test.ts-snapshots/visual-tablet-monitor-chromium-linux.png
Due: anms-ui_unit-test

test: fix authnz ports to match production ports
  anms-ui/integration_test/playwright.config.ts
  anms-ui/integration_test/tests/authnz.test.ts
  anms-ui/integration_test/tests/global-setup.ts
Due: anms-ui_unit-test

integrate seeding into global-setup.ts — agents and reports auto-seeded before tests (P2)
  anms-ui/integration_test/tests/global-setup.ts
Due: anms-ui_unit-test

add OpenSearch integration tests (P1 — 7 tests: cluster health, indices, search, Dashboards, full CRUD)
  anms-ui/integration_test/tests/opensearch.test.ts
Due: anms-ui_unit-test

add: Grafana proxy route in UI Express server before HTML5 catch-all
  anms-ui/server/core/routes.js
Due: anms-ui_unit-test

stress tests: bypass authnz, hit API directly on port 5555
  scripts/stress_connection_pool.py
  scripts/stress_endpoint_latency.py
  scripts/stress_grafana_path.py
  scripts/stress_logging_latency.py
  scripts/stress_proxy_overhead.py
  scripts/stress_sustained_load.py
  stress-results/endpoint_results.json
  stress-results/proxy_overhead.json
  stress-test-detailed.sh
Due: none

add: multi-user performance testing scripts
  scripts/stress_container_optimizations.py
  scripts/stress_multi_user.py
Due: none

remove: Grafana proxy from UI routes — authnz handles it in production
  anms-ui/server/core/routes.js
Due: anms-ui_unit-test

add seed_dashboard.py — script to seed OpenSearch with 500+ reports and configure Grafana datasource (P2)
  anms-ui/integration_test/tests/seed/seed_dashboard.py
Due: anms-ui_unit-test

stress tests: full DIRECT mode support, fix all phases
  scripts/stress_grafana_path.py
  scripts/stress_logging_latency.py
  scripts/stress_proxy_overhead.py
  scripts/stress_sustained_load.py
  stress-test-detailed.sh
Due: none

working on proxy for opensearch
  anms-ui/src/app/features/management/monitor/monitor.html
  auth/demo/httpd.conf
  docker-compose.yml
  opensearch/config.yml
  opensearch/opensearch_dashboards.yml
Due: anms-ui_unit-test

added new toasts and fixed updating alerts
  anms-ui/src/app/shared/notification.service.ts
  anms-ui/src/app/store/modules/service-status.service.ts
Due: anms-ui_unit-test

working proxy
  anms-ui/src/app/features/management/monitor/monitor.html
  auth/demo/httpd.conf
  docker-compose.yml
  opensearch/opensearch_dashboards.yml
Due: anms-ui_unit-test

Import githooks to automatically update env version variables
  .githooks/install.sh
  .githooks/update-env-hook.sh
  README.md
Due: none

adding back call to load_default
  anms-ui/src/app/features/adms/adms.ts
  anms-ui/src/app/shared/api-adm.service.ts
  anms-ui/src/app/store/modules/adm-service.ts
Due: anms-ui_unit-test

Update version display in UI, cleanup of ui Dockerfile
  anms-ui/modify_version.sh
  anms-ui/src/app/layout/header/header.html
  anms-ui/src/environments/environment.ts
  anms.Containerfile
  docker-compose.yml
Due: anms-ui_unit-test

Create /version REST API (#267) (#365)
  .githooks/install.sh
  .githooks/update-env-hook.sh
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/publish_images.yaml
  .gitignore
  README.md
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/version.py
  anms-ui/modify_version.sh
  anms-ui/src/app/layout/header/header.html
  anms-ui/src/environments/environment.ts
  anms.Containerfile
  anms_release.sh
  checkout-test/test_routes.py
  docker-compose.yml
  example.env
  quickstart.sh
  update_env.sh
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

improve: rewrite Manual Startup with clear steps, .env table, and production guidance
  README.md
Due: none

fix trap overwrite bug and add auto podman override to stress-test-harder.sh
  stress-test-harder.sh
Due: none

add auto-detecting helper script for playwright integration tests
  anms-ui/integration_test/start-integration-tests.sh
Due: anms-ui_unit-test

add comprehensive testing runbook covering all test infrastructure
  TESTING.md
Due: none

add container cleanup trap and auto podman override to stress-test-detailed.sh
  stress-test-detailed.sh
Due: none

add auto podman override to stress-test.sh
  stress-test.sh
Due: none

add podman compatibility overrides for main and testenv compose files
  docker-compose-podman-override.yml
  testenv-compose-podman-override.yml
Due: none

implement actual teardown in playwright integration tests
  anms-ui/integration_test/tests/global-teardown.ts
Due: anms-ui_unit-test

fix: include playwright test artifacts in gitignore
  .gitignore
Due: none

fix: resolve seed_agents.py hardcoded path for CI portability
  anms-ui/integration_test/tests/seed/seed_agents.py
Due: anms-ui_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
