Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

Fix: ReDoc custom HTML uses correct DOM initialization order
  anms-core/anms/asgi/__init__.py
Due: anms-core_unit-test, anms-core_integration-test

Add ARI validation schemas to backend
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/components/schemas/ARIs/ari.py
Due: anms-core_unit-test, anms-core_integration-test

Add new POST endpoint that validates ARIs
  anms-core/anms/routes/ARIs/ari.py
Due: anms-core_unit-test, anms-core_integration-test

Add Express proxy routes for new validation endpoint
  anms-ui/server/components/ariBuilder.js
  anms-ui/server/core/routes.js
Due: anms-ui_unit-test

Add validate ARI helper method
  anms-ui/src/app/shared/api.service.ts
Due: anms-ui_unit-test

Add debounced backend validation to ARI builder UI page
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

Add frontend unit tests for new ARI builder input validation
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
Due: anms-ui_unit-test

Fix skeleton tests that only check that component was loaded
  anms-ui/src/app/app.spec.ts
  anms-ui/src/app/features/adms/adms.spec.ts
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.spec.ts
  anms-ui/src/app/features/dashboard/dashboard.spec.ts
  anms-ui/src/app/features/management/agents/agent-modal/agent-modal.spec.ts
  anms-ui/src/app/features/management/agents/agents.spec.ts
  anms-ui/src/app/features/management/agents/crud/crud.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/agents/reports/reports.spec.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
  anms-ui/src/app/features/page-not-found/page-not-found.spec.ts
  anms-ui/src/app/features/status/status.spec.ts
  anms-ui/src/app/layout/header/header.spec.ts
  anms-ui/src/app/layout/sidebar/sidebar.spec.ts
  anms-ui/src/app/store/modules/service-status.spec.ts
Due: anms-ui_unit-test

Resolve "Default ADMs can sometimes fail to load" (#392)
  README.md
  anms-core/anms/shared/transmogrifier.py
  anms-ui/src/app/features/adms/adms.html
  anms-ui/src/app/features/adms/adms.ts
  anms-ui/src/app/shared/api-adm.service.ts
  anms-ui/src/app/store/modules/adm-service.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Add Angular frontend unit test CI job
  .github/workflows/build-test.yaml
Due: none

Deduplicate redundant code
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

Reduce complexity of validation function by splitting into helper functions
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

Address issues with using the toBe function when toHaveLength is applicable
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
Due: anms-ui_unit-test

Updated agents search to be more user-friendly for date searches. (#393)
  UPGRADING.md
  anms-core/anms/routes/ARIs/agents.py
Due: anms-core_unit-test, anms-core_integration-test

Fix: serve /docs/ and /redoc/ directly to avoid 307 redirects
  anms-core/anms/asgi/__init__.py
Due: anms-core_unit-test, anms-core_integration-test

Fix: rename duplicate function name in agents.py
  anms-core/anms/routes/ARIs/agents.py
Due: anms-core_unit-test, anms-core_integration-test

Fix: wait for backend readiness in checkout test entrypoint
  checkout-test/entrypoint.sh
Due: none

Fix: add compose healthchecks for CI --wait in Podman
  docker-compose.yml
Due: none

Fix: add postgres compose healthcheck for CI --wait
  docker-compose.yml
Due: none

Fix: use 127.0.0.1 in postgres and redis compose healthchecks
  docker-compose.yml
Due: none

Fix: remove postgres/redis healthchecks for Podman CI
  docker-compose.yml
Due: none

Fix: add postgres wait to amp-manager startup
  anms.Containerfile
Due: none

Fix syntax issue of multiline CMD entry
  anms.Containerfile
Due: none

Re-add postgres/redis healthchecks
  docker-compose.yml
Due: none

Fix: remove --wait from CI compose up to avoid healthcheck divergence between Docker and Podman
  .github/workflows/build-test.yaml
  anms.Containerfile
  docker-compose.yml
Due: none

Fix: change postgres depends_on from service_healthy to service_started
  docker-compose.yml
Due: none

Revert changes made to try and get podman checkout test working
  .github/workflows/build-test.yaml
  checkout-test/entrypoint.sh
  docker-compose.yml
Due: none

updated npm modules for server
  anms-core/anms/shared/config.py
  anms-core/integration_test/yarn.lock
  anms-ui/prep_packages.sh
  anms-ui/server/clients/redisClient.js
  anms-ui/server/components/core.js
  anms-ui/server/core/express.js
  anms-ui/server/core/routes.js
  anms-ui/server/package-lock.json
  anms-ui/server/package.json
  anms-ui/server/server.js
  anms-ui/server/shared/configUtils.js
  anms-ui/server/shared/loggerInstance.js
  anms-ui/server/shared/utils.js
  anms-ui/server/yarn.lock
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Add redoc test to core tests in checkout-test
  checkout-test/test_routes.py
Due: none

Revert 'Fix: rename duplicate function name in agents.py'
  anms-core/anms/routes/ARIs/agents.py
Due: anms-core_unit-test, anms-core_integration-test

Bump checkout test ubuntu version to 26.04
  .github/workflows/build-test.yaml
Due: none

Remove on pull request for job to trigger without PR
  .github/workflows/build-test.yaml
Due: none

Change build test to trigger on user request
  .github/workflows/build-test.yaml
Due: none

Change workflow to trigger on push to experimental branch
  .github/workflows/build-test.yaml
Due: none

Change package repository version from default questing to resolute
  .github/workflows/build-test.yaml
Due: none

Revert 'Remove on pull request for job to trigger without PR'
  .github/workflows/build-test.yaml
Due: none

Enable checkout debug logging
  .github/workflows/build-test.yaml
  checkout-test/test_routes.py
Due: none

Add authnz gateway container dependencies for name resolution
  .github/workflows/build-test.yaml
  docker-compose.yml
Due: none

Workaround podman-on-github-ci issue with healthchecks
  .github/workflows/build-test.yaml
Due: none

removed the default for OPENSEARCH_INITIAL_ADMIN_PASSWORD
  anms-core/anms/shared/config.py
Due: anms-core_unit-test, anms-core_integration-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
