Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

added OPENSEARCH_INITIAL_ADMIN_PASSWORD to env for anms-core
  docker-compose.yml
Due: none

Use RHEL-9 podman version for testing
  .github/workflows/build-test.yaml
Due: none

updated npm modules for server (#400)
  anms-core/anms/shared/config.py
  anms-core/integration_test/yarn.lock
  anms-ui/prep_packages.sh
  anms-ui/server/clients/redisClient.js
  anms-ui/server/components/core.js
  anms-ui/server/core/express.js
  anms-ui/server/core/routes.js
  anms-ui/server/package-lock.json
  anms-ui/server/package.json
  anms-ui/server/server.js
  anms-ui/server/shared/configUtils.js
  anms-ui/server/shared/loggerInstance.js
  anms-ui/server/shared/utils.js
  anms-ui/server/yarn.lock
  docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Fix CI podman job (#398)
  .github/workflows/build-test.yaml
  checkout-test/test_routes.py
  docker-compose.yml
Due: none

Resolve "[ANMS-UI] Fix broken link to API docs page" (#391)
  anms-core/anms/asgi/__init__.py
  anms-ui/src/app/features/help/help.ts
  checkout-test/test_routes.py
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Resolve "UI input validation for ari builder text and cbor fields" (#396)
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/components/schemas/ARIs/ari.py
  anms-core/anms/routes/ARIs/ari.py
  anms-ui/server/components/ariBuilder.js
  anms-ui/server/core/routes.js
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  anms-ui/src/app/shared/api.service.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Fix: replace http client and toastr with mock stubs to remove uncaught http requests
  anms-ui/src/app/features/adms/adms.spec.ts
  anms-ui/src/app/features/management/agents/agents.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
Due: anms-ui_unit-test

Fix: add ignore scripts flag to dependency install and change npx to npm
  .github/workflows/build-test.yaml
Due: none

Docs: use explicit npm run test instead of aliased npm test in readme
  anms-ui/README.md
Due: anms-ui_unit-test

Fix: replace provideHttpClient with HttpClientTestingModule to stop real HTTP in tests
  anms-ui/src/app/features/dashboard/dashboard.spec.ts
  anms-ui/src/app/features/management/agents/agent-modal/agent-modal.spec.ts
  anms-ui/src/app/features/management/agents/crud/crud.spec.ts
  anms-ui/src/app/features/management/agents/reports/reports.spec.ts
  anms-ui/src/app/features/status/status.spec.ts
  anms-ui/src/app/layout/sidebar/sidebar.spec.ts
  anms-ui/src/app/store/modules/service-status.spec.ts
Due: anms-ui_unit-test

Fix: migrate ApiService useValue stubs to HttpClientTestingModule
  anms-ui/src/app/features/adms/adms.spec.ts
  anms-ui/src/app/features/management/agents/agents.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
Due: anms-ui_unit-test

Fix: spy on expected error to suppress test output and add assertions to status test
  anms-ui/src/app/store/modules/service-status.spec.ts
Due: anms-ui_unit-test

working opensearch dashboard with anonymous login
  .gitignore
  anms-ui/src/app/features/management/monitor/monitor.html
  docker-compose.yml
  opensearch/config.yml
  opensearch/dashboards/opensearch.ndjson
  opensearch/opensearch-dashboards-entrypoint.sh
  opensearch/opensearch-entrypoint.sh
  opensearch/opensearch_dashboards.yml
  opensearch/roles.yml
  opensearch/roles_mapping.yml
  update_env.sh
Due: anms-ui_unit-test

Resolve "Add frontend vitest unit tests to ci and fix broken tests" (#397)
  .github/workflows/build-test.yaml
  anms-ui/README.md
  anms-ui/src/app/app.spec.ts
  anms-ui/src/app/features/adms/adms.spec.ts
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.spec.ts
  anms-ui/src/app/features/dashboard/dashboard.spec.ts
  anms-ui/src/app/features/management/agents/agent-modal/agent-modal.spec.ts
  anms-ui/src/app/features/management/agents/agents.spec.ts
  anms-ui/src/app/features/management/agents/crud/crud.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/agents/reports/reports.spec.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
  anms-ui/src/app/features/page-not-found/page-not-found.spec.ts
  anms-ui/src/app/features/status/status.spec.ts
  anms-ui/src/app/layout/header/header.spec.ts
  anms-ui/src/app/layout/sidebar/sidebar.spec.ts
  anms-ui/src/app/store/modules/service-status.spec.ts
Due: anms-ui_unit-test

add git to packaged installed in reftools-buildenv-base
  anms.Containerfile
Due: none

fixing sonar cloud issues
  anms.Containerfile
Due: none

anther sonarcloud fix
  anms.Containerfile
Due: none

added checksum check to npm download
  anms.Containerfile
Due: none

fixing quotes and sonar fixes
  anms.Containerfile
Due: none

another sonar fix
  anms.Containerfile
Due: none

fixing sonarcloud issue with permissions
  anms.Containerfile
Due: none

add git to packaged installed in reftools-buildenv-base (#408)
  anms.Containerfile
Due: none

updated to fix validation of cbor in agent and parameter filtering
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/manager_checker.py
  anms-ui/.gitignore
  anms-ui/server/components/networkManager.js
  anms-ui/src/app/features/management/agents/agent-modal/agent-modal.html
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
  anms-ui/src/app/features/management/builder/builder.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updating test for latest changes
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
Due: anms-ui_unit-test

added dedicated startup.uri and applied updates to AC generation in builder
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  deps/test-ion-configs/startup.uri
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

addressing comments
  anms-core/anms/shared/manager_checker.py
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

using origanl solution to handle preencoded strings
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

updating test case to remove //
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
Due: anms-ui_unit-test

updated to fix validation of cbor in agent and parameter filtering (#409)
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/manager_checker.py
  anms-ui/.gitignore
  anms-ui/server/components/networkManager.js
  anms-ui/src/app/features/management/agents/agent-modal/agent-modal.html
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.spec.ts
  anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/src/app/features/management/builder/builder.spec.ts
  anms-ui/src/app/features/management/builder/builder.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  deps/test-ion-configs/startup.uri
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

npm audit fix
  anms-ui/package-lock.json
Due: anms-ui_unit-test

added rows to monitor to allow space for user to create views
  grafana/provisioning/dashboards/anms-monitor.json
Due: none

updating to use https
  opensearch/opensearch-dashboards-entrypoint.sh
Due: none

added catch to promise
  anms-ui/src/app/features/management/agents/reports/reports.ts
Due: anms-ui_unit-test

extra error handling and status fix for reporting
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Fixing opensearch dashboard (#411)
  .gitignore
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-ui/package-lock.json
  anms-ui/src/app/features/management/agents/reports/reports.ts
  anms-ui/src/app/features/management/monitor/monitor.html
  docker-compose.yml
  grafana/provisioning/dashboards/anms-monitor.json
  opensearch/config.yml
  opensearch/dashboards/opensearch.ndjson
  opensearch/opensearch-dashboards-entrypoint.sh
  opensearch/opensearch-entrypoint.sh
  opensearch/opensearch_dashboards.yml
  opensearch/roles.yml
  opensearch/roles_mapping.yml
  update_env.sh
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
