Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

Add .yang downloading, uploading still WIP
  anms-ui/angular-port/anms-ui/src/app/features/adms/adms.html
  anms-ui/angular-port/anms-ui/src/app/features/adms/adms.ts
  anms-ui/angular-port/anms-ui/src/app/layout/sidebar/sidebar.html
  anms-ui/angular-port/anms-ui/src/app/shared/api-adm.service.ts
  anms-ui/angular-port/anms-ui/src/app/store/modules/adm-service.ts
Due: anms-ui_unit-test

refactor manage UI to be reusable, modular component external to agents
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

implement builds page
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.css
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.css
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

implement 'send to agents' button and command handoff functionality for build and agents pages
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/manage-agents-dialog/manage-agents-dialog.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.css
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.ts
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  anms-ui/angular-port/anms-ui/src/app/shared/command-handoff.service.ts
Due: anms-ui_unit-test

allow sending primitive types in ARI builder
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
Due: anms-ui_unit-test

updated to use new report route
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.html
  anms-ui/angular-port/anms-ui/src/app/features/management/agents/reports/reports.ts
  anms-ui/angular-port/anms-ui/src/app/shared/api.service.ts
Due: anms-ui_unit-test

removed extra log
  anms-ui/angular-port/anms-ui/src/app/shared/api.service.ts
Due: anms-ui_unit-test

implement logout redirect for header logout button
  anms-ui/angular-port/anms-ui/src/app/layout/header/header.html
  anms-ui/angular-port/anms-ui/src/app/layout/header/header.ts
  auth/demo/html/authn/login.html
Due: anms-ui_unit-test

fixing issue with uploading new ADM
  anms-ui/angular-port/anms-ui/src/app/features/adms/adms.html
  anms-ui/angular-port/anms-ui/src/app/features/adms/adms.ts
  anms-ui/angular-port/anms-ui/src/app/shared/api-adm.service.ts
Due: anms-ui_unit-test

added ARI column to builder table
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.html
  anms-ui/angular-port/anms-ui/src/app/features/management/builder/builder.ts
Due: anms-ui_unit-test

Try alternate podman install
  .github/workflows/build-test.yaml
Due: none

ensure service running
  .github/workflows/build-test.yaml
Due: none

specific commit
  .github/workflows/build-test.yaml
Due: none

Use podman v5 for CI action (#359)
  .github/workflows/build-test.yaml
Due: none

added opensearch dashboard
  docker-compose.yml
  opensearch/dashboards/opensearch.ndjson
Due: none

Fix insecure path in help to use environment constant, fix syntax typo causing incorrect parameter behavior in command builder
  anms-ui/src/app/features/help/help.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
Due: anms-ui_unit-test

update containerfile, remove vestigial files
  anms-ui/docker-entrypoint.sh
  anms.Containerfile
Due: anms-ui_unit-test

update UI readme
  anms-ui/README.md
Due: anms-ui_unit-test

fix incorrect path in UI build steps
  anms.Containerfile
Due: none

Debug containerfile printouts
  anms.Containerfile
Due: none

add package-lock.json to vcs for ci, adjust gitignore
  .gitignore
  anms-ui/package-lock.json
  anms.Containerfile
Due: anms-ui_unit-test

add docker debug call
  anms.Containerfile
Due: none

fix working dir of npm tasks
  anms.Containerfile
Due: none

sync package-lock.json
  anms-ui/package-lock.json
Due: anms-ui_unit-test

Add npm i to anms-ui install
  anms.Containerfile
Due: none

update installed node version from v16 to v22
  anms.Containerfile
Due: none

fix node rpm url
  anms.Containerfile
Due: none

update addresses in ui routes test
  checkout-test/test_routes.py
Due: none

Fixed OpenAPI definition for /adms/. Note: This change does not change the output of this call, only it's generated documentation/specification.
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

Fixed OpenAPI definition for /adms/. Note: This change does not change the output of this call, only it's generated documentation/specification. (#360)
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

restore necessary frontend server files, adjust container composition
  anms-ui/server/.eslintignore
  anms-ui/server/.eslintrc.js
  anms-ui/server/clients/redisClient.js
  anms-ui/server/components/.gitkeep
  anms-ui/server/components/adms.js
  anms-ui/server/components/alerts.js
  anms-ui/server/components/ariBuilder.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
  anms-ui/server/components/main.js
  anms-ui/server/components/networkManager.js
  anms-ui/server/components/registeredAgents.js
  anms-ui/server/components/reports.js
  anms-ui/server/components/transcoder.js
  anms-ui/server/components/users.js
  anms-ui/server/components/utilities.js
  anms-ui/server/core/express.js
  anms-ui/server/core/permissions.js
  anms-ui/server/core/routes.js
  anms-ui/server/init/.gitkeep
  anms-ui/server/init/index.js
  anms-ui/server/package.json
  anms-ui/server/server.js
  anms-ui/server/shared/config.js
  anms-ui/server/shared/configUtils.js
  anms-ui/server/shared/logger.js
  anms-ui/server/shared/loggerInstance.js
  anms-ui/server/shared/utils.js
  anms-ui/server/tests/clients/.gitkeep
  anms-ui/server/yarn.lock
  anms.Containerfile
Due: anms-ui_unit-test

Fixed typo in grafana dashbaord title
  grafana/provisioning/dashboards/anms-monitor.json
Due: none

added back entrypoint to update config.js
  anms-ui/docker-entrypoint.sh
  anms.Containerfile
Due: anms-ui_unit-test

address sonarqube accessibility/reliability concerns
  anms-ui/src/app/features/adms/adms.html
  anms-ui/src/app/features/management/agents/agents.html
  anms-ui/src/app/features/management/agents/agents.ts
  anms-ui/src/app/features/management/agents/reports/reports.html
  anms-ui/src/app/features/management/builder/builder.html
  anms-ui/src/app/features/management/builder/builder.ts
  anms-ui/src/app/features/management/monitor/monitor.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/layout/sidebar/sidebar.html
  anms-ui/src/app/layout/sidebar/sidebar.ts
Due: anms-ui_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
