Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

Fixing container build after merge
  agent-compose.yml
  deps/reftools.Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

Fix compose config
  agent-compose.yml
Due: none

Cleaning up CI config
  .github/workflows/build-test.yaml
Due: none

Fixing access in CI
  .github/workflows/build-test.yaml
Due: none

Update checkout test port
  .github/workflows/build-test.yaml
Due: none

Fixing podman use and podman checkout CI job
  .github/workflows/build-test.yaml
  checkout-test/Dockerfile
  create_volume.sh
  puppet/modules/anms/files/selinux/amp-manager.cil
Due: none

Stop in opposite order from start
  .github/workflows/build-test.yaml
Due: none

updating nm_host from ion-manger to anms-amp-manager-1. still having issues submitting reports
  anms-core/anms/shared/config.py
  anms-ui/public/app/components/management/agents/Agents.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated name to amp-manager, removed debug log
  anms-core/anms/shared/config.py
  anms-ui/config_ui_env.js
  anms-ui/public/app/components/management/agents/Agents.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Renamed test containers file to testenv-compose to make its purpose more clear. Moved socket bind mount to an environment controlled path.
  .github/workflows/build-test.yaml
  .gitlab-ci.yml
  docker-compose.yml
  puppet/modules/anms/manifests/init.pp
  puppet/prep.sh
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Fixing puppet testenv disable behavior
  puppet/modules/anms/manifests/compose.pp
  puppet/modules/anms/manifests/init.pp
Due: none

Fix hostname for the NM manager
  nginx/nginx.conf
Due: none

Cherry-picking compose fixes and usability updates from PR 180
  .github/workflows/build-test.yaml
  .gitlab-ci.yml
  base.Dockerfile
  checkout-test/Dockerfile
  create_volume.sh
  docker-compose.yml
  puppet/modules/anms/manifests/compose.pp
  puppet/modules/anms/manifests/init.pp
  puppet/prep.sh
  testenv-compose.yml
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Cleanup compose file uses
  README.md
  build.sh
  export.sh
  puppet/.gitignore
  testenv-compose.yml
Due: none

Adding nginx name dependencies
  docker-compose.yml
Due: none

Remove superseded manifest chunk
  puppet/modules/anms/manifests/init.pp
Due: none

Update compose fixes (#183)
  .github/workflows/build-test.yaml
  .gitlab-ci.yml
  README.md
  base.Dockerfile
  build.sh
  checkout-test/Dockerfile
  create_volume.sh
  docker-compose.yml
  export.sh
  puppet/.gitignore
  puppet/modules/anms/manifests/compose.pp
  puppet/modules/anms/manifests/init.pp
  puppet/prep.sh
  testenv-compose.yml
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Separate anms network from testenv network
  docker-compose.yml
  testenv-compose.yml
Due: none

Fix container name after merge
  docker-compose.yml
Due: none

updated to dtnma-camp
  .github/workflows/anms-core.yaml
  .gitlab-ci.yml
  .gitmodules
  README.md
  anms-core/pyproject.toml
  base.Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Created 'auth' directory to organize authentication-related container choices for clarity.
  .env
  auth/cam-gateway/.gitignore
  auth/cam-gateway/Dockerfile
  auth/cam-gateway/README.md
  auth/cam-gateway/bin/JSON.sh
  auth/cam-gateway/bin/register-agent.sh
  auth/cam-gateway/bin/run-cam-gateway.sh
  auth/cam-gateway/bin/verify-agent.sh
  auth/cam-gateway/docker-compose.yml
  auth/cam-gateway/files/ammos-ca-bundle.crt
  auth/cam-gateway/httpd/conf/httpd.conf
  auth/cam-gateway/httpd/site.conf.d/README
  auth/cam-gateway/httpd/site.conf.d/csp_header.conf
  auth/cam-gateway/httpd/site.conf.d/hsts_headers.conf
  auth/cam-gateway/httpd/site.conf.d/manual.conf
  auth/cam-gateway/httpd/site.conf.d/ssl.conf
  auth/cam-gateway/httpd/site.conf.d/userdir.conf
  auth/cam-gateway/httpd/site.conf.d/welcome.conf
  auth/cam-gateway/httpd/site.conf.modules.d/00-base.conf
  auth/cam-gateway/httpd/site.conf.modules.d/00-mpm.conf
  auth/cam-gateway/httpd/site.conf.modules.d/00-proxy.conf
  auth/cam-gateway/httpd/site.conf.modules.d/00-ssl.conf
  auth/cam-gateway/httpd/site.conf.modules.d/00-systemd.conf
  auth/cam-gateway/web_agents/apache24_agent/bin/agentadmin
  auth/cam-gateway/web_agents/apache24_agent/config/agent.conf.template
  auth/cam-gateway/web_agents/apache24_agent/config/agent.vcl.template
  auth/cam-gateway/web_agents/apache24_agent/config/mod_iis_openam_schema.xml
  auth/cam-gateway/web_agents/apache24_agent/legal/CDDLv1.0.txt
  auth/cam-gateway/web_agents/apache24_agent/legal/Forgerock_License.txt
  auth/cam-gateway/web_agents/apache24_agent/legal/THIRDPARTYREADME.txt
  auth/cam-gateway/web_agents/apache24_agent/lib/mod_openam.so
  auth/passwd/Dockerfile
  auth/passwd/html/authn/accessdenied.html
  auth/passwd/html/authn/loggedout.html
  auth/passwd/html/authn/login.html
  auth/passwd/html/authn/style.css
  auth/passwd/htpasswd
  auth/passwd/httpd.conf
  auth/passwd/wsgi.py
  docker-compose.yml
Due: none

Updating uses of ACE, CAMP, and REFDM to latest development
  anms-core/Dockerfile
  anms-core/docker-entrypoint.sh
  aricodec/Dockerfile
  aricodec/docker-entrypoint.sh
  base.Dockerfile
  deps/reftools.Dockerfile
  docker-compose.yml
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

Eliminate Nginx dependency (#176)
  anms-core/anms/routes/system_status.py
  auth/passwd/Dockerfile
  auth/passwd/httpd.conf
  auth/passwd/run_proxy.sh
  docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

Removed nginx from httpd.conf (accidentally omitted from prior commit)
  auth/passwd/httpd.conf
Due: none

removed nginx from status page
  anms-ui/config_ui_env.js
Due: anms-ui_unit-test

Resolve comments for cleanup
  .env
  auth/demo/Dockerfile
  auth/demo/html/authn/accessdenied.html
  auth/demo/html/authn/loggedout.html
  auth/demo/html/authn/login.html
  auth/demo/html/authn/style.css
  auth/demo/htpasswd
  auth/demo/httpd.conf
  auth/demo/run_proxy.sh
  auth/demo/wsgi.py
  puppet/modules/anms/files/selinux/nginx.cil
  puppet/modules/anms/manifests/init.pp
Due: none

Fix build-test workflow for renamed authnz-emu
  .github/workflows/build-test.yaml
Due: none

Deleted nginx files, fixed WS proxy.
  auth/demo/httpd.conf
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

Fix grafana WS proxy configuration.
  auth/demo/httpd.conf
Due: none

updated to latest dtnma-tools
  .env
  deps/reftools.Dockerfile
  docker-compose.yml
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

Remove deprecated file & previously disabled reference.
  auth/demo/httpd.conf
  auth/demo/wsgi.py
Due: none

Address SonarQube issues
  auth/demo/Dockerfile
  auth/demo/html/authn/accessdenied.html
  auth/demo/html/authn/loggedout.html
  auth/demo/html/authn/login.html
Due: none

Fix remaining SonarQube warning.
  auth/demo/Dockerfile
  auth/demo/run_proxy.sh
Due: none

updated to latest dtnma libraries
  .env
  anms-core/anms/components/schemas/ARIs/actual_object.py
  anms-core/anms/components/schemas/ARIs/ari.py
  anms-core/anms/components/schemas/ARIs/control.py
  anms-core/anms/components/schemas/ARIs/edd_formal.py
  anms-core/anms/components/schemas/ARIs/formal_object.py
  anms-core/anms/components/schemas/ARIs/mac_formal.py
  anms-core/anms/components/schemas/ARIs/rpt_formal.py
  anms-core/anms/components/schemas/adm.py
  anms-core/anms/models/relational/actual_object.py
  anms-core/anms/models/relational/actual_parameter.py
  anms-core/anms/models/relational/adms/adm_data.py
  anms-core/anms/models/relational/adms/namespace_view.py
  anms-core/anms/models/relational/ari.py
  anms-core/anms/models/relational/formal_object.py
  anms-core/anms/models/relational/formal_parameter.py
  anms-core/anms/models/relational/literal_object.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/shared/ace_runner.py
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
  anms-core/pyproject.toml
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_data/test_adm_modified.json
  anms-core/test/anms/routes/adms/test_data/test_adm_reference.json
  aricodec/pyproject.toml
  base.Dockerfile
  deps/anms_db_tables/10-transcoder.sql
  deps/ansmsql.Dockerfile
  deps/reftools.Dockerfile
  docker-compose.yml
  transcoder/Dockerfile
  transcoder/requirements.txt
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

updating to latest sql tables
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/models/relational/ari.py
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/adms/adm_compare.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  aricodec/src/aricodec/main.py
  deps/anms_db_tables/10-agent_parameter.sql
  deps/ansmsql.Dockerfile
  docker-compose.yml
  testenv-compose.yml
  transcoder/Dockerfile
  transcoder/docker-entrypoint.sh
  transcoder/requirements.txt
Due: anms-core_unit-test, anms-core_integration-test, transcoder_unit-test

handling ADM upload and report printing
  .env
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/components/schemas/adm.py
  anms-core/anms/models/relational/adms/data_model_view.py
  anms-core/anms/models/relational/ari.py
  anms-core/anms/models/relational/execution_set.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/shared/config.py
  anms-core/pyproject.toml
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/shared/api.js
  anms-ui/public/app/store/modules/agents.js
  anms-ui/server/components/reports.js
  anms-ui/server/core/routes.js
  aricodec/src/aricodec/main.py
  deps/anms_db_tables/11-agent_parameter.sql
  deps/ansmsql.Dockerfile
  deps/reftools.Dockerfile
  docker-compose.yml
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

working translation and report handling
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/components/schemas/ARIs/actual_parameter.py
  anms-core/anms/components/schemas/ARIs/ari.py
  anms-core/anms/components/schemas/ARIs/formal_parameter.py
  anms-core/anms/components/schemas/ARIs/literal_object.py
  anms-core/anms/components/schemas/ARIs/rpt_formal.py
  anms-core/anms/models/relational/ari.py
  anms-core/anms/models/relational/formal_object.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/ARIs/formal_objects.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/manager_checker.py
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
  anms-ui/public/app/components/management/agents/reports.vue
  aricodec/src/aricodec/main.py
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated for sending and viewing execsets
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/agent_parameter.py
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/crud.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/Build.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/store/modules/agents.js
  anms-ui/server/components/alerts.js
  aricodec/src/aricodec/main.py
  deps/hold.y
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
