Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

Update README.md following Edell's feedback
  README.md
Due: none

moved init logic to avoid loop startup error
  anms-core/anms/init_adms.py
  anms-core/anms/run_gunicorn.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

Update README.md
  README.md
Due: none

loading default ADMs controlled by a new route
  README.md
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/run_gunicorn.py
  anms-core/anms/shared/transmogrifier.py
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/shared/api_adm.js
  anms-ui/public/app/store/modules/adm.js
  anms-ui/server/components/adms.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Removed some pip caching in case that is the cause for the old file lineno being referenced in error output.
  anms.Containerfile
Due: none

Bump opensearch to attempt startup fix
  .gitignore
  docker-compose.yml
Due: none

attempt simple env fix
  .env
Due: none

pass env
  docker-compose.yml
Due: none

Bump submodule commits on main (#326)
  .env
  .gitignore
  docker-compose.yml
Due: none

Move new produciton config into puppet module parameters
  .env
  puppet/modules/anms/manifests/init.pp
  puppet/modules/anms/templates/env.epp
Due: none

Revert "Force CI build to run with no-cache"
  .github/workflows/build-test.yaml
Due: none

Address SonarQube documentation warning.
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Use HTTP status code enums consistently.
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

setting cache to store processed reports
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

Update README.md (more typos)
  README.md
Due: none

Fixed an additional error return.
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Update README.md (#315)
  README.md
Due: none

removed uneeded f-string
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

187 improve initial default adm load process (#323)
  README.md
  anms-core/anms/init_adms.py
  anms-core/anms/routes/ARIs/ari.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/shared/transmogrifier.py
  anms-core/docker-entrypoint.sh
  anms-core/extra_adms/.gitignore
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/shared/api_adm.js
  anms-ui/public/app/store/modules/adm.js
  anms-ui/server/components/adms.js
  anms-ui/server/core/routes.js
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Move new production config into puppet module parameters (#328)
  .env
  puppet/modules/anms/manifests/init.pp
  puppet/modules/anms/templates/env.epp
Due: none

Revert "Removed some pip caching in case that is the cause for the old file lineno being referenced in error output."
  anms.Containerfile
Due: none

Test workflow cleanup
  .github/workflows/build-test.yaml
Due: none

Restoring podman service start [with fix for workflow warning]
  .github/workflows/build-test.yaml
Due: none

Attempt to force docker format to enable healthcheck in podman
  .github/workflows/build-test.yaml
Due: none

ChatGPT suggested alternative status check
  .github/workflows/build-test.yaml
Due: none

Adding logs output for failed containers
  .github/workflows/build-test.yaml
Due: none

docs: add Installation section to README
  README.md
Due: none

Experiment: Does diabling anms-ui healthcheck make a difference?
  anms.Containerfile
Due: none

Experiment: Does removing dependency checks make a difference?
  docker-compose.yml
Due: none

updated to to use newest SQL for reports
  anms-core/anms/components/schemas/ARIs/__init__.py
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/execution_set.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/shared/transmogrifier.py
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/shared/api.js
  anms-ui/public/app/store/modules/agents.js
  anms-ui/server/components/reports.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

added COPY for startup.uri
  testenv.Containerfile
Due: none

added for querying for report templates
  anms-core/anms/models/relational/const.py
Due: anms-core_unit-test, anms-core_integration-test

updated grafana to use new rptsets
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  grafana/provisioning/dashboards/anms-monitor.json
  grafana/provisioning/datasources/datasource.yml
Due: anms-core_unit-test, anms-core_integration-test

updated to include rpt_item_index
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/report.py
Due: anms-core_unit-test, anms-core_integration-test

updated to uses time_offset as a timestamp
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/report.py
  grafana/provisioning/dashboards/anms-monitor.json
Due: anms-core_unit-test, anms-core_integration-test

updated test execset
  checkout-test/test_routes.py
Due: none

removed special char
  checkout-test/test_routes.py
Due: none

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
