Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

updated outfile to avoid conflict
  testenv-compose.yml
Due: none

Update submodules (#203)
  anms-core/anms/agent_parameter.json
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/routes/transcoder.py
  anms-ui/config_ui_env.js
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms-ui/public/app/components/management/builder/primParameter.vue
  anms-ui/public/app/components/management/monitor/Monitor.vue
  anms-ui/public/app/main.js
  deps/anms_db_tables/10-anms_core.sql
  deps/test-ion-configs/mgr.rc
  docker-compose.yml
  grafana/grafana_vol/grafana.db
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Consolidate core route for translating and sending ARI
  .env
  README.md
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  anms-ui/server/components/transcoder.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Cleanup error handler.
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Fixed SonarQube warnings
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

Define profiles to support multiple run configurations without duplicating compose files.
  docker-compose.yml
  light-compose.yml
  testenv-compose.yml
Due: none

Fixed typo
  anms-core/anms/routes/network_manager.py
Due: anms-core_unit-test, anms-core_integration-test

Consolidate core route for translating and sending ARI (#204)
  .env
  README.md
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  anms-ui/server/components/transcoder.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Create sonar-project.properties
  sonar-project.properties
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

Create sonar-project.properties (#208)
  sonar-project.properties
Due: none

Create sonarcloud.yml (#209)
  .github/workflows/sonarcloud.yml
Due: none

Update sonar-project.properties (#211)
  sonar-project.properties
Due: none

Update sonar-project.properties (#212)
  sonar-project.properties
Due: none

removed SSL config not used by ANMS
  anms-core/anms/asgi/server.py
  anms-core/anms/run_gunicorn.py
  anms-core/test/anms/asgi/test_server.py
Due: anms-core_unit-test, anms-core_integration-test

removed unused testing dir
  anms-core/test/__init__.py
  anms-core/test/anms/__init__.py
  anms-core/test/anms/asgi/__init__.py
  anms-core/test/anms/asgi/test_helpers.py
  anms-core/test/anms/asgi/test_init.py
  anms-core/test/anms/asgi/test_server.py
  anms-core/test/anms/components/__init__.py
  anms-core/test/anms/components/core/__init__.py
  anms-core/test/anms/components/core/test_email.py
  anms-core/test/anms/components/core/test_security.py
  anms-core/test/anms/components/init/__init__.py
  anms-core/test/anms/components/init/test_db_seed.py
  anms-core/test/anms/components/injects/__init__.py
  anms-core/test/anms/components/injects/test_flash.py
  anms-core/test/anms/models/__init__.py
  anms-core/test/anms/models/relational/__init__.py
  anms-core/test/anms/models/relational/test_invite.py
  anms-core/test/anms/routes/ARIs/__init__.py
  anms-core/test/anms/routes/ARIs/test_ari.py
  anms-core/test/anms/routes/__init__.py
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_adm_compare.py
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal-modified.yang
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal.yang
  anms-core/test/anms/routes/adms/test_data/ietf-amm.yang
  anms-core/test/anms/routes/adms/test_data/test_adm_modified.json
  anms-core/test/anms/routes/adms/test_data/test_adm_reference.json
  anms-core/test/anms/shared/__init__.py
  anms-core/test/anms/shared/test_config_utils.py
  anms-core/test/anms/shared/test_opensearch_logger.py
  anms-core/test/resources/public/mfa.html
  anms-core/test/resources/public/register.html
Due: anms-core_unit-test, anms-core_integration-test

removed unneeded routes
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/system_status.py
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

update test json files
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
Due: anms-core_unit-test, anms-core_integration-test

removed unneeded routes (#223)
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/system_status.py
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

removed SSL config not used by ANMS (#221)
  anms-core/anms/asgi/server.py
  anms-core/anms/run_gunicorn.py
  anms-core/test/__init__.py
  anms-core/test/anms/__init__.py
  anms-core/test/anms/asgi/__init__.py
  anms-core/test/anms/asgi/test_helpers.py
  anms-core/test/anms/asgi/test_init.py
  anms-core/test/anms/asgi/test_server.py
  anms-core/test/anms/components/__init__.py
  anms-core/test/anms/components/core/__init__.py
  anms-core/test/anms/components/core/test_email.py
  anms-core/test/anms/components/core/test_security.py
  anms-core/test/anms/components/init/__init__.py
  anms-core/test/anms/components/init/test_db_seed.py
  anms-core/test/anms/components/injects/__init__.py
  anms-core/test/anms/components/injects/test_flash.py
  anms-core/test/anms/models/__init__.py
  anms-core/test/anms/models/relational/__init__.py
  anms-core/test/anms/models/relational/test_invite.py
  anms-core/test/anms/routes/ARIs/__init__.py
  anms-core/test/anms/routes/ARIs/test_ari.py
  anms-core/test/anms/routes/__init__.py
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_adm_compare.py
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal-modified.yang
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal.yang
  anms-core/test/anms/routes/adms/test_data/ietf-amm.yang
  anms-core/test/anms/routes/adms/test_data/test_adm_modified.json
  anms-core/test/anms/routes/adms/test_data/test_adm_reference.json
  anms-core/test/anms/shared/__init__.py
  anms-core/test/anms/shared/test_config_utils.py
  anms-core/test/anms/shared/test_opensearch_logger.py
  anms-core/test/resources/public/mfa.html
  anms-core/test/resources/public/register.html
Due: anms-core_unit-test, anms-core_integration-test

Moving back SQL to add healthcheck role
  deps/anms_db_tables/00-healthcheck_roles.sql
Due: anms-core_unit-test, anms-core_integration-test

Testing and operating on native RHEL-9 python v3.9
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  base.Dockerfile
Due: none

Attempting yarn package reconcilation
  anms-ui/prep_packages.sh
  anms-ui/public/package.json
  anms-ui/public/yarn.lock
  anms-ui/server/yarn.lock
  build.sh
Due: anms-ui_unit-test

updated to pull latest execution set if same nonce is used
  anms-core/anms/routes/ARIs/reports.py
  anms-core/integration_test/package.json
Due: anms-core_unit-test, anms-core_integration-test

bad file present
  deps/hold.y
Due: anms-core_unit-test, anms-core_integration-test

Remove ION from ANMS container images. Only present in testenv.
  base.Dockerfile
  deps/reftools.Dockerfile
  docker-compose.yml
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

Attempting compat workaround
  anms-ui/Dockerfile
Due: anms-ui_unit-test

workaround split Dockerfiles
  .github/workflows/build-test.yaml
Due: none

wait for services healthy before test
  .github/workflows/build-test.yaml
Due: none

pinning vue-cli
  anms-ui/public/package.json
Due: anms-ui_unit-test

anms-core healthcheck
  anms-core/Dockerfile
  anms-ui/Dockerfile
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

fixed where vue cli version was set
  anms-ui/Dockerfile
  anms-ui/check_packages.sh
  anms-ui/public/package.json
Due: anms-ui_unit-test

Fix CI jobs (#230)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/transcoder.yaml
  anms-core/Dockerfile
  anms-ui/Dockerfile
  anms-ui/prep_packages.sh
  anms-ui/public/package.json
  anms-ui/public/yarn.lock
  anms-ui/server/yarn.lock
  base.Dockerfile
  build.sh
  deps/anms_db_tables/00-healthcheck_roles.sql
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

fix after merge
  .github/workflows/build-test.yaml
Due: none

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
