Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

Change unreleased header to include next version number
  CHANGELOG
Due: none

fixed reports not auto displaying on agents page
  anms-ui/src/app/features/management/agents/reports/reports.css
  anms-ui/src/app/features/management/agents/reports/reports.html
  anms-ui/src/app/features/management/agents/reports/reports.ts
Due: anms-ui_unit-test

updated and fixed opensearch dashboard needing login
  anms-ui/src/app/features/management/monitor/monitor.html
  opensearch/config.yml
  opensearch/dashboards/opensearch.ndjson
  opensearch/opensearch_dashboards.yml
Due: anms-ui_unit-test

updated to use latest ace
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

removed unused import
  anms-ui/src/app/features/management/agents/reports/reports.ts
Due: anms-ui_unit-test

Add swagger docs and resources to proxy to fix help button link
  docker-compose.yml
Due: none

Make dashboard card title text clickable and link to relevant page
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.css
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.html
Due: anms-ui_unit-test

Change entire title card header to be clickable
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.css
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.html
Due: anms-ui_unit-test

Add load default button to ADMs page when empty
  anms-ui/src/app/features/adms/adms.html
  anms-ui/src/app/features/adms/adms.ts
  anms-ui/src/app/shared/api-adm.service.ts
  anms-ui/src/app/store/modules/adm-service.ts
Due: anms-ui_unit-test

Add instructions about loading default ADMs to the README
  README.md
Due: none

Updated agents search to be more user-friendly for date searches. Added simple column ordering as an option.
  anms-core/anms/routes/ARIs/agents.py
Due: anms-core_unit-test, anms-core_integration-test

Updated UPGRADING README (#254)
  UPGRADING.md
Due: none

Update version tag on agents tab to show protocol version.
  anms-ui/src/app/features/management/agents/agents.ts
Due: anms-ui_unit-test

Allow INTERNAL_CERT_URL environment with quickstart (#384)
  example.env
  quickstart.sh
Due: none

Removing invalid named parameter to fix default ADM laoding.
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

Revert "Add swagger docs and resources to proxy to fix help button link"
  docker-compose.yml
Due: none

Update version tag on agents tab to show protocol version. (#394)
  anms-ui/src/app/features/management/agents/agents.ts
Due: anms-ui_unit-test

Add core directory to docs path and update proxy script to redirect properly
  auth/demo/run_proxy.sh
  docker-compose.yml
Due: none

attempt fix for failing podman tests
  .github/workflows/build-test.yaml
Due: none

Change ui link to help docs to include /core prefix
  anms-ui/src/app/features/help/help.ts
Due: anms-ui_unit-test

Change bash single brackets to double brackets to address Sonarqube
  auth/demo/run_proxy.sh
Due: none

updating submodules (#354)
  .github/workflows/build-test.yaml
  anms-core/anms/shared/transmogrifier.py
  anms-ui/src/app/features/management/agents/reports/reports.css
  anms-ui/src/app/features/management/agents/reports/reports.html
  anms-ui/src/app/features/management/agents/reports/reports.ts
  anms-ui/src/app/features/management/monitor/monitor.html
  opensearch/config.yml
  opensearch/dashboards/opensearch.ndjson
  opensearch/opensearch_dashboards.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updating versions of packages
  anms-core/integration_test/package.json
  anms-ui/package-lock.json
  anms-ui/server/package.json
  anms-ui/server/yarn.lock
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Revert "Removing invalid named parameter to fix default ADM laoding."
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

removing request from anms-ui/server
  anms-ui/server/components/adms.js
  anms-ui/server/components/alerts.js
Due: anms-ui_unit-test

286 update changelog (#386)
  CHANGELOG
Due: none

Resolve "Make dashboard title rows clickable" (#390)
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.css
  anms-ui/src/app/features/dashboard/components/dashboard-home/dashboard-home.html
Due: anms-ui_unit-test

Resolve "UI: Builder should better filter ARI dropdowns" (#383)
  anms-core/anms/routes/ARIs/ari.py
  anms-ui/README.md
  anms-ui/server/components/ariBuilder.js
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.css
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.html
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.spec.ts
  anms-ui/src/app/features/management/shared/ari-command-builder/ari-command-builder.ts
  anms-ui/src/app/shared/api.service.ts
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fixed db from differnt threads error while translating
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

Fix: serve /docs and /redoc directly with relative asset URLs
  anms-core/anms/asgi/__init__.py
  auth/demo/run_proxy.sh
  docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

updated to uses axios instead of request
  anms-ui/server/components/adms.js
  anms-ui/server/components/alerts.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
  anms-ui/server/components/users.js
Due: anms-ui_unit-test

fixed url generation
  anms-ui/server/components/alerts.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
Due: anms-ui_unit-test

Fix: compute Swagger UI asset URLs dynamically at runtime
  anms-core/anms/asgi/__init__.py
Due: anms-core_unit-test, anms-core_integration-test

npm audit to fix vulnerabilities
  anms-ui/package-lock.json
  anms-ui/server/package-lock.json
Due: anms-ui_unit-test

added missing utils import
  anms-ui/server/components/alerts.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
Due: anms-ui_unit-test

fixed alert url
  anms-ui/server/components/alerts.js
Due: anms-ui_unit-test

handling sonarcloud found issues
  anms-ui/server/components/adms.js
  anms-ui/server/components/alerts.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
Due: anms-ui_unit-test

Revert: restore upstream run_proxy.sh without local modifications
  auth/demo/run_proxy.sh
Due: none

310 fix all dependabot issues marked critical (#395)
  anms-core/integration_test/package.json
  anms-ui/package-lock.json
  anms-ui/server/components/adms.js
  anms-ui/server/components/alerts.js
  anms-ui/server/components/core.js
  anms-ui/server/components/hello.js
  anms-ui/server/components/users.js
  anms-ui/server/package-lock.json
  anms-ui/server/package.json
  anms-ui/server/yarn.lock
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Fix: apply dynamic JS asset resolution to ReDoc page
  anms-core/anms/asgi/__init__.py
Due: anms-core_unit-test, anms-core_integration-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
