Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*

Refactored Enterprise SSL Proxy Certificate installation to use parameterized source URL proided as an argument.
  .env
  anms.Containerfile
  auth/cam-gateway/Dockerfile
  auth/demo/Dockerfile
  checkout-test/Dockerfile
  docker-compose.yml
  testenv-compose.yml
  testenv.Containerfile
Due: none

Upgrade form Postgres14 to Postgres18
  anms.Containerfile
Due: none

DB Updating instructions
  UPGRADING.md
Due: none

Updated mount point for Postgres18 upgrade.
  docker-compose.yml
Due: none

Upgrade form Postgres14 to Postgres18 (#364)
  UPGRADING.md
  anms.Containerfile
  docker-compose.yml
Due: none

Refactored Enterprise SSL Proxy Certificate installation to use parameterized source URL proided as an argument. (#363)
  .env
  anms.Containerfile
  auth/cam-gateway/Dockerfile
  auth/demo/Dockerfile
  checkout-test/Dockerfile
  docker-compose.yml
  testenv-compose.yml
  testenv.Containerfile
Due: none

added opensearch dashboard to monitor page
  anms-ui/src/app/features/management/monitor/monitor.html
  auth/demo/httpd.conf
  docker-compose.yml
Due: anms-ui_unit-test

Create /version REST API (#267)), removed sample /hello endpoint, and replaced default .env file with a sample version and instructions for user to setup.
  .github/workflows/build-test.yaml
  .github/workflows/publish_images.yaml
  .gitignore
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/mappings.py
  anms-core/anms/routes/registry.py
  anms-core/anms/routes/version.py
  anms.Containerfile
  anms_release.sh
  docker-compose.yml
  example.env
  quickstart.sh
  update_env.sh
Due: anms-core_unit-test, anms-core_integration-test

Updating workflows
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
Due: none

Attempt to fix workflow
  .github/workflows/anms-core.yaml
Due: none

Fixing workflow
  .github/workflows/anms-core.yaml
Due: none

Fixing workflow
  .github/workflows/aricodec.yaml
  .github/workflows/build-test.yaml
  .github/workflows/publish_images.yaml
Due: none

Fixed CI warnings, including now autogenerating OPENSEARCH_INITIAL_ADMIN_PASSWORD
  anms.Containerfile
  checkout-test/test_routes.py
  example.env
  update_env.sh
Due: none

Disabling new route in test_routes.py for now.
  checkout-test/test_routes.py
Due: none

add: Concurrent load and stress tests — N parallel users, memory leak detection
  anms-ui/integration_test/tests/concurrent.test.ts
Due: anms-ui_unit-test

polish stress test, remove AMP manager test, and remove dead code
  stress-test.sh
Due: none

docs: update integration test README
  anms-ui/integration_test/README.md
Due: anms-ui_unit-test

add: Docker Compose full stack — real amp-manager + ion-manager, real Postgres
  anms-ui/integration_test/config.yaml
  anms-ui/integration_test/docker-compose-full.yml
  anms-ui/integration_test/package-lock.json
Due: anms-ui_unit-test

fix: use real ion-manager + amp-manager in integration tests (#351)
  anms-ui/integration_test/docker-compose-full.yml
  anms-ui/server/components/networkManager.js
  anms-ui/server/core/routes.js
Due: anms-ui_unit-test

add: Core integration tests — sanity, auth, monitor, agents, build tabs
  anms-ui/integration_test/tests/agents.test.ts
  anms-ui/integration_test/tests/base.test.ts
  anms-ui/integration_test/tests/build.test.ts
  anms-ui/integration_test/tests/monitor.test.ts
  anms-ui/integration_test/tests/sanity.test.ts
Due: anms-ui_unit-test

add: Default .env for integration tests — sensible defaults, no secrets required
  .gitignore
  anms-ui/integration_test/.env
Due: anms-ui_unit-test

fix playwright tests: sidebar navigation, auth assertions, missing awaits (#350)
  .env
  anms-ui/integration_test/tests/agents.test.ts
  anms-ui/integration_test/tests/api-performance.test.ts
  anms-ui/integration_test/tests/base.test.ts
  anms-ui/integration_test/tests/build.test.ts
  anms-ui/integration_test/tests/concurrent.test.ts
  anms-ui/integration_test/tests/error-recovery.test.ts
  anms-ui/integration_test/tests/monitor.test.ts
  anms-ui/integration_test/tests/navigation.test.ts
  anms-ui/integration_test/tests/session.test.ts
  anms-ui/integration_test/utils/metrics.ts
Due: anms-ui_unit-test

fix playwright: only use chromium project (Firefox/WebKit missing deps on Rocky 9)
  anms-ui/integration_test/playwright.config.ts
Due: anms-ui_unit-test

add: Integration test documentation — architecture, usage, troubleshooting
  anms-ui/integration_test/README.md
Due: anms-ui_unit-test

add authnz proxy tests (P0 — 5 tests: HTTP proxy, routing, TLS cert)
  anms-ui/integration_test/tests/authnz.test.ts
Due: anms-ui_unit-test

add systemd wrapper around stress test to limit resource availability and update how stats are logged
  run-stress.sh
  stress-test.sh
Due: none

full-stack integration test: add ion-manager/amp-manager/ION agents, authnz, grafana, opensearch, split into full/testenv configs
  anms-ui/integration_test/.env
  anms-ui/integration_test/docker-compose-full.yml
  anms-ui/integration_test/docker-compose-testenv.yml
Due: anms-ui_unit-test

fix: Add auth bypass via x-remote-user header for integration testing
  anms-ui/server/components/main.js
Due: anms-ui_unit-test

add health checks for authnz and OpenSearch in global-setup (P0/P1)
  anms-ui/integration_test/tests/global-setup.ts
Due: anms-ui_unit-test

fix docker-compose: drop ion-manager (not in main Containerfile), use service_started dep for amp-manager
  anms-ui/integration_test/docker-compose-full.yml
Due: anms-ui_unit-test

fix: Update tests to use header-based auth instead of form login (Angular has no login page)
  anms-ui/integration_test/tests/agents.test.ts
  anms-ui/integration_test/tests/auth-setup.ts
  anms-ui/integration_test/tests/base.test.ts
  anms-ui/integration_test/tests/build.test.ts
  anms-ui/integration_test/tests/concurrent.test.ts
  anms-ui/integration_test/tests/monitor.test.ts
Due: anms-ui_unit-test

Add initial stress test with three phase testing and container stats, with small bug at end of execution
  stress-test.sh
Due: none

fix: Update remaining tests to use header-based auth (x-remote-user)
  anms-ui/integration_test/tests/api-performance.test.ts
  anms-ui/integration_test/tests/error-recovery.test.ts
  anms-ui/integration_test/tests/navigation.test.ts
  anms-ui/integration_test/tests/session.test.ts
Due: anms-ui_unit-test

fix: increase timeout to 120s for 50-page-reload tests (full stack)
  anms-ui/integration_test/tests/concurrent.test.ts
  anms-ui/integration_test/tests/navigation.test.ts
Due: anms-ui_unit-test

add detailed seven phase stress test with per endpoint latency, OS logging overhead, and db pool saturation checks
  stress-test-detailed.sh
Due: none

add new stress test with more concurrency and synced stats logging
  stress-test-harder.sh
Due: none

fix: monitor test actually navigates to /dashboard/monitor and verifies Grafana iframe
  anms-ui/integration_test/tests/monitor.test.ts
Due: anms-ui_unit-test

add: Playwright test utilities — metrics and API helpers
  anms-ui/integration_test/utils/api-helpers.ts
  anms-ui/integration_test/utils/metrics.ts
Due: anms-ui_unit-test

enable authnz service in docker-compose (P0 — TLS certs mounted)
  anms-ui/integration_test/docker-compose-full.yml
Due: anms-ui_unit-test
