Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

updating to latest versions
  aricodec/pyproject.toml
Due: none

updated python from 3.9 to 3.10
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
Due: none

updated required python to >= 3.9
  aricodec/pyproject.toml
Due: none

Install specific versions of pip and pip-tools for compatibility
  anms.Containerfile
Due: none

Upgrading deps (#273)
  .github/workflows/anms-core.yaml
  .github/workflows/aricodec.yaml
  .github/workflows/transcoder.yaml
  anms-core/anms/shared/manager_checker.py
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms.Containerfile
  aricodec/pyproject.toml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Fixes for built-image tag and base-image qualified name
  anms.Containerfile
  docker-compose.yml
Due: none

Update script to capture all images needed
  README.md
  export.sh
Due: none

Fixes for built-image tag and base-image qualified name (#276)
  README.md
  anms.Containerfile
  docker-compose.yml
  export.sh
Due: none

updated btable id for report headers
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

updated ID for header table
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

updated btable id for report headers (#277)
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

Added to UI a prototype Help page and a Not Found page handler.
  anms-ui/public/app/components/help/Help.vue
  anms-ui/public/app/components/notfound/NotFound.vue
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/core/router.js
Due: anms-ui_unit-test

Resolve default database warning in grafana (hopefully).
  anms-ui/public/app/components/help/Help.vue
  grafana/provisioning/datasources/datasource.yml
Due: anms-ui_unit-test

Added upgrading file
  UPGRADING.md
Due: none

Add amp-manager to UI Status page
  anms-ui/config_ui_env.js
Due: anms-ui_unit-test

added inifinity-datasource plugin and example panels
  docker-compose.yml
  grafana/provisioning/dashboards/anms-monitor.json
  grafana/provisioning/dashboards/dashboards.yaml
  grafana/provisioning/datasources/datasource.yml
Due: none

updated layout of panels
  grafana/provisioning/dashboards/anms-monitor.json
Due: none

Fix core '/services' REST API to return JSON instead of text
  anms-core/anms/routes/system_status.py
  anms-ui/public/app/store/modules/service_status.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Core REST API bugfixes to detect timeouts and resolve potential error with overloaded status variable.
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

initial dev creating a internal transcoder
  anms-core/anms/config_template.yaml
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/config.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

working version, added new profile default is internal transcoding
  anms-core/anms/shared/transmogrifier.py
  docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

working transcoder fixed issue with threading and DB
  anms-core/anms/init_adms.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/mqtt_client.py
  anms-core/anms/shared/transmogrifier.py
Due: anms-core_unit-test, anms-core_integration-test

Automatically create GHCR images when a tag is created. This supplements the formal release process which also triggers publication.
  .github/workflows/publish_images.yaml
Due: none

Fix ghcr name if triggered by tag
  .github/workflows/publish_images.yaml
Due: none

Fixing grafana authnz/demo websocket proxy configuration.
  auth/demo/httpd.conf
Due: none

removed services related to transcoder since they arent up by default
  anms-ui/config_ui_env.js
Due: anms-ui_unit-test

added --ignore flag for podman volume creaete to avoid name error
  create_volume.sh
Due: none

moved grafana db password to enviroment var
  .env
  create_volume.sh
  docker-compose.yml
  grafana/provisioning/datasources/datasource.yml
Due: none

Updated build-test workflow to use SHA instead of user-friendly branch in internal (not pushed) docker tags to prevent errors with docker not overwriting local tags by default.
  .github/workflows/build-test.yaml
Due: none

moving adms init
  anms-core/docker-entrypoint.sh
Due: anms-core_unit-test, anms-core_integration-test

updated test to include new changes
  anms-core/anms/shared/config.py
  anms-core/anms/shared/manager_checker.py
  anms-core/integration_test/openapi.json
Due: anms-core_unit-test, anms-core_integration-test

Feature/tag based ghcr images (#300)
  .env
  .github/workflows/build-test.yaml
  .github/workflows/publish_images.yaml
  UPGRADING.md
  anms-core/anms/config_template.yaml
  anms-core/anms/init_adms.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/system_status.py
  anms-core/anms/routes/transcoder.py
  anms-core/anms/shared/config.py
  anms-core/anms/shared/manager_checker.py
  anms-core/anms/shared/mqtt_client.py
  anms-core/anms/shared/transmogrifier.py
  anms-core/integration_test/openapi.json
  anms-ui/config_ui_env.js
  anms-ui/public/app/components/help/Help.vue
  anms-ui/public/app/components/management/monitor/Monitor.vue
  anms-ui/public/app/components/notfound/NotFound.vue
  anms-ui/public/app/core/App.vue
  anms-ui/public/app/core/router.js
  anms-ui/public/app/store/modules/service_status.js
  anms.Containerfile
  auth/demo/httpd.conf
  create_volume.sh
  docker-compose.yml
  grafana/create_grafana_db.sql
  grafana/grafana.ini
  grafana/grafana_vol/environment/.gfenv
  grafana/grafana_vol/grafana.db
  grafana/provisioning/dashboards/anms-monitor.json
  grafana/provisioning/dashboards/dashboards.yaml
  grafana/provisioning/datasources/datasource.yml
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Update README.md
  README.md
Due: none

Updated REST APIs to return correct error codes, and updated dtnma-tools to bring in fixes for SQL concurrency causing reliability issues.
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
Due: anms-core_unit-test, anms-core_integration-test

moved init adms logic into transcoder
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/shared/transmogrifier.py
  anms-core/docker-entrypoint.sh
Due: anms-core_unit-test, anms-core_integration-test

added new folder for adding new ADMS in core
  README.md
  anms.Containerfile
Due: none

added gitignore to extra_adms to avoid extra adms be added to main
  anms-core/extra_adms/.gitignore
Due: anms-core_unit-test, anms-core_integration-test

Add REFDA startup to allow ipn-scheme managers all access
  testenv.Containerfile
Due: none

Force CI build to run with no-cache
  .github/workflows/build-test.yaml
Due: none

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
