Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

added integration test to github ci
  .github/workflows/anms-core.yaml
Due: none

fixed error in yaml
  .github/workflows/anms-core.yaml
Due: none

docker-compose to docker compose
  .github/workflows/anms-core.yaml
Due: none

updating working directory
  .github/workflows/anms-core.yaml
Due: none

added missing checkout step
  .github/workflows/anms-core.yaml
Due: none

added latest version of anms-core service
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

added amp-manager
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

moved integration test image creatione
  .github/workflows/anms-core.yaml
  anms-core/integration_test/Dockerfile
  anms-core/integration_test/docker-compose.yml
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

added volume creation
  .github/workflows/anms-core.yaml
Due: none

using light profile to deploy anms for test
  .github/workflows/anms-core.yaml
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

corrected the networks
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

removed wait
  .github/workflows/anms-core.yaml
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

setting compose CMD for volume create
  .github/workflows/anms-core.yaml
Due: none

added back wait to anms compose up
  .github/workflows/anms-core.yaml
Due: none

added timeout
  .github/workflows/anms-core.yaml
Due: none

Added workflow to test publishing of built containers to ghcr.io
  .github/workflows/publish_images.yaml
Due: none

Second take (GPT-assisted refinements)
  .github/workflows/publish_images.yaml
Due: none

fixed uploading yang files (#236)
  anms-core/anms/routes/adms/adm.py
  anms-ui/server/components/adms.js
  deps/test-ion-configs/mgr.rc
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updating dockerfile to use common base image (#243)
  .github/workflows/anms-core.yaml
  anms-core/integration_test/Dockerfile
  anms-core/integration_test/docker-compose.yml
  anms.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

Back to a simpler approach
  .github/workflows/publish_images.yaml
Due: none

Simplest form
  .github/workflows/publish_images.yaml
Due: none

Fix capitalization
  .github/workflows/publish_images.yaml
Due: none

Adjusting registry name
  .github/workflows/publish_images.yaml
Due: none

Removed bad env var
  .github/workflows/publish_images.yaml
Due: none

Missing recursive clone flag
  .github/workflows/publish_images.yaml
Due: none

Add testenv build, added test echo as precursor to fixing push path.
  .github/workflows/publish_images.yaml
Due: none

Fix healthcheck for ion-manager and ion-agent
  testenv.Containerfile
Due: none

Align CI steps with main build-test
  .github/workflows/anms-core.yaml
Due: none

Use dummy transport proxy just to get the manager healthy
  .github/workflows/anms-core.yaml
  anms-core/integration_test/docker-compose.yml
  anms.Containerfile
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

fix typos
  anms-core/integration_test/docker-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

Add ignore-scripts argument sonarqube (#244)
  .github/workflows/anms-core.yaml
  .github/workflows/build-test.yaml
  anms-core/integration_test/docker-compose.yml
  anms.Containerfile
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test

updated to lastest tool and new SQL schema
  anms-core/anms/components/schemas/ARIs/registered_agent.py
  anms-core/anms/models/relational/execution_set.py
  anms-core/anms/models/relational/registered_agent.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/agents.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/agent_parameter.py
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
  anms-ui/public/app/components/management/agents/AgentModal.vue
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/store/modules/agents.js
  anms.Containerfile
  grafana/grafana_vol/grafana.db
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fixed encoding nonces in URLs
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/routes/ARIs/reports.py
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/server/components/reports.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated to safer literal_eval
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

updated to lastest tool and new SQL schema (#249)
  anms-core/anms/components/schemas/ARIs/registered_agent.py
  anms-core/anms/components/schemas/ARIs/rpt_entry.py
  anms-core/anms/models/relational/execution_set.py
  anms-core/anms/models/relational/registered_agent.py
  anms-core/anms/models/relational/report.py
  anms-core/anms/routes/ARIs/agents.py
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/adms/adm.py
  anms-core/anms/routes/agent_parameter.py
  anms-core/integration_test/integration_tests.json
  anms-core/integration_test/openapi.json
  anms-ui/public/app/components/management/agents/AgentModal.vue
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/store/modules/agents.js
  anms-ui/server/components/reports.js
  anms.Containerfile
  grafana/grafana_vol/grafana.db
  testenv.Containerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Fixed GHCR container naming.
  .env
  .github/workflows/publish_images.yaml
Due: none

Fixed default .env path
  .env
Due: none

Updating quickstart to pull prebuilt containers by default
  quickstart.sh
Due: none

Pin puppet-lint to compatible version
  .github/workflows/puppet.yaml
Due: none

fixed handling bad inputs for ADMs routes
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
