Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

anms-core_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    PY_WHEEL_DIR: /tmp/wheels
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

anms-core_integration-test:
  stage: test
  needs:
  - build
  - anms-core_unit-test
  allow_failure: true
  variables:
    ANMS_COMPOSE_OPTS: -f anms-core/integration_test/docker-compose.yml -p test
  before_script:
  ...

anms-ui_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  variables:
    IMAGE_TAG: anms-ui-test:latest
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

transcoder_unit-test:
  stage: test
  needs:
  - build
  allow_failure: true
  before_script:
  - 'curl -sL http://apllinuxdepot.jhuapl.edu/linux/APL-root-cert/JHUAPL-MS-Root-CA-05-21-2038-B64-text.cer -o /etc/pki/ca-trust/source/anchors/JHUAPL-MS-Root-CA-05-21-2038-B64-text.crt
  
  ...

tweaking health status
  .github/workflows/build-test.yaml
  deps/reftools.Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

restore dummy container commands
  docker-compose.yml
Due: none

Consolidating image configs into one Containerfile with many targets
  .dockerignore
  .github/workflows/build-test.yaml
  .gitignore
  Containerfile
  anms-core/.dockerignore
  anms-core/Dockerfile
  anms-ui/Dockerfile
  aricodec/Dockerfile
  auth/demo/Dockerfile
  base.Dockerfile
  checkout-test/Dockerfile
  deps/ansmsql.Dockerfile
  deps/reftools.Dockerfile
  docker-compose.yml
  grafana/Dockerfile
  mqtt-broker/Dockerfile
  testenv-compose.yml
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

remove builders
  .github/workflows/build-test.yaml
Due: none

fix grafana
  docker-compose.yml
Due: none

typo
  .github/workflows/build-test.yaml
Due: none

reducing image context
  .dockerignore
Due: none

Remove inconsistently used DOCKER_CTR_PREFIX variable
  .dockerignore
  .env
  README.md
  docker-compose.yml
  light-compose.yml
  puppet/modules/anms/templates/env.epp
  testenv-compose.yml
Due: none

Update build-test.yaml
  .github/workflows/build-test.yaml
Due: none

Combine workflow jobs using matrix strategy
  .github/workflows/build-test.yaml
Due: none

Add back missing step
  .github/workflows/build-test.yaml
Due: none

Force a wait timeout
  .github/workflows/build-test.yaml
Due: none

stop order
  .github/workflows/build-test.yaml
Due: none

updated reprots to handle mutiple rpts per exec set
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

removed old table
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-ui_unit-test

216 same corrlator nonce misbehaviour (#232)
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-core/integration_test/package.json
  anms-ui/check_packages.sh
  anms-ui/public/app/components/management/agents/reports.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Adding compose profiles option through puppet
  puppet/modules/anms/manifests/compose.pp
  puppet/modules/anms/manifests/init.pp
  puppet/modules/anms/manifests/podman.pp
  puppet/modules/anms/templates/podman-compose-project.env.epp
Due: none

Run CI with profile option
  .github/workflows/build-test.yaml
Due: none

missed other profile
  .github/workflows/build-test.yaml
Due: none

Combine workflow jobs using matrix strategy (#234)
  .github/workflows/build-test.yaml
Due: none

Updated README.
  README.md
Due: none

Feature/light compose profile (#205)
  .github/workflows/build-test.yaml
  README.md
  docker-compose.yml
  light-compose.yml
  puppet/modules/anms/manifests/compose.pp
  puppet/modules/anms/manifests/init.pp
  puppet/modules/anms/manifests/podman.pp
  puppet/modules/anms/templates/podman-compose-project.env.epp
  testenv-compose.yml
Due: none

fixed uploading yang files
  anms-core/anms/routes/adms/adm.py
  anms-ui/server/components/adms.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

removed debug console log
  anms-ui/server/components/adms.js
Due: anms-ui_unit-test

fixed adding new ADMs
  anms-core/anms/routes/adms/adm.py
Due: anms-core_unit-test, anms-core_integration-test

Update and expand checkout test
  .github/workflows/build-test.yaml
  checkout-test/Dockerfile
  checkout-test/entrypoint.sh
  checkout-test/requirements.txt
  checkout-test/test_routes.py
  puppet/modules/apl_test/files/anms/tls/certs/ammos-server-cert.pem
  puppet/modules/apl_test/test-pki.xdb
Due: none

Add refdm roundtrip test case
  .dockerignore
  .gitignore
  checkout-test/test_routes.py
Due: none

Remove ION from ANMS images (#231)
  .dockerignore
  .env
  .github/workflows/build-test.yaml
  .gitignore
  README.md
  base.Dockerfile
  checkout-test/Dockerfile
  checkout-test/entrypoint.sh
  checkout-test/requirements.txt
  checkout-test/test_routes.py
  deps/hold.y
  deps/reftools.Dockerfile
  docker-compose.yml
  puppet/modules/anms/templates/env.epp
  puppet/modules/apl_test/files/anms/tls/certs/ammos-server-cert.pem
  puppet/modules/apl_test/test-pki.xdb
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

Separate Containerfile contents to segregate ION
  anms.Containerfile
  docker-compose.yml
  testenv-compose.yml
  testenv.Containerfile
Due: none

working to have two agents
  deps/reftools.Dockerfile
  deps/test-ion-configs/mgr.rc
Due: anms-core_unit-test, anms-core_integration-test

Fixed missing SSL proxy cert
  anms.Containerfile
  testenv.Containerfile
Due: none

Combine containerfiles to avoid intermediate images (#233)
  .dockerignore
  .github/workflows/build-test.yaml
  .gitignore
  anms-core/.dockerignore
  anms-core/Dockerfile
  anms-ui/.dockerignore
  anms-ui/Dockerfile
  anms.Containerfile
  aricodec/Dockerfile
  auth/demo/Dockerfile
  base.Dockerfile
  checkout-test/Dockerfile
  deps/ansmsql.Dockerfile
  docker-compose.yml
  grafana/Dockerfile
  mqtt-broker/Dockerfile
  testenv-compose.yml
  testenv.Containerfile
  transcoder/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Added quickstart script and general cleanup of developer startup directions.
  .env
  README.md
  create_volume.sh
  docker-compose.no-security-override.yml
  quickstart.sh
Due: none

updating dockerfile to use common base image
  anms-core/integration_test/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

Update for sonar security concern
  anms-core/integration_test/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

Fixing sonar hotspot
  anms.Containerfile
Due: none

More sonar security hotspots
  anms.Containerfile
Due: none

Show all service status
  .github/workflows/build-test.yaml
Due: none

show full status
  .github/workflows/build-test.yaml
Due: none

Added quickstart script and general cleanup of developer startup directions. (#242)
  .env
  README.md
  create_volume.sh
  docker-compose.no-security-override.yml
  quickstart.sh
Due: none

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*
