Repository NASA-AMMOS/anms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test, transcoder_unit-test

Path conditions:
  anms-core_unit-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-core_integration-test: any of: .gitlab-ci.yml, deps/**/*, anms-core/**/*
  anms-ui_unit-test: any of: .gitlab-ci.yml, anms-ui/**/*
  transcoder_unit-test: any of: .gitlab-ci.yml, transcoder/**/*

added status msg to transcoder route
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

fixed up creating execset
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/network_manager.py
  anms-core/anms/routes/transcoder.py
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/Build.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updating tests
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_adm_compare.py
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal-modified.yang
  anms-core/test/anms/routes/adms/test_data/example-adm-minimal.yang
Due: anms-core_unit-test, anms-core_integration-test

updating core tests
  anms-core/anms/routes/adms/adm_compare.py
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_data/ietf-amm.yang
Due: anms-core_unit-test, anms-core_integration-test

passing tests
  anms-core/anms/routes/adms/adm_compare.py
  anms-core/test/anms/routes/adms/test_adm.py
  anms-core/test/anms/routes/adms/test_adm_compare.py
Due: anms-core_unit-test, anms-core_integration-test

removing test print and extra copy
  deps/ansmsql.Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

updated adms to be out of anms-ace
  .env
  .gitmodules
  anms-core/Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

updated copy for adms
  anms-core/Dockerfile
  base.Dockerfile
Due: anms-core_unit-test, anms-core_integration-test

added clearSearchOnSelect, added redundant transcoding check
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/Build.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/TypeNameValueCollectionParameter.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/server/components/adms.js
  anms-ui/server/components/transcoder.js
  deps/anms_db_tables/10-grafana.sql
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

Updating build config for docker compatibility
  base.Dockerfile
  build.sh
Due: none

Added parallel light compose config. Refactored all ION to outside of ANMS deployment.
  .gitignore
  README.md
  deps/reftools.Dockerfile
  light-compose.yml
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

updated report processing to use ACE and enhanced transcoding
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  aricodec/src/aricodec/main.py
Due: anms-core_unit-test, anms-core_integration-test

Create CODEOWNERS (#195)
  .github/CODEOWNERS
Due: none

removed un need nickname convertor
  anms-core/anms/routes/ARIs/reports.py
Due: anms-core_unit-test, anms-core_integration-test

38 anms fun bld 007 edds ari selection on build tab (#194)
  .env
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-core/pyproject.toml
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/TypeNameValueCollectionParameter.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/server/components/adms.js
  anms-ui/server/components/transcoder.js
  aricodec/src/aricodec/main.py
  base.Dockerfile
  deps/anms_db_tables/10-grafana.sql
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

added refresh button and removed the autorefresh
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

updated refresh button & added wait to first reload of the table
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

added checkboxes to trancoder table to send multiple CBORs to agents
  anms-core/anms/routes/adms/adm.py
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
  anms-ui/public/app/core/router.js
  anms-ui/public/app/shared/api_adm.js
  anms-ui/public/app/store/modules/transcoder.js
  anms-ui/server/components/adms.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

added refresh button and removed the autorefresh (#197)
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

removed TODO comments
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
Due: anms-ui_unit-test

106 anms fun bld 001 time based rule control creation (#198)
  anms-core/anms/routes/adms/adm.py
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/components/management/agents/Agents.vue
  anms-ui/public/app/components/management/agents/AgentsManageModal.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/buildAri.vue
  anms-ui/public/app/components/management/builder/transcoder.vue
  anms-ui/public/app/core/router.js
  anms-ui/public/app/shared/api_adm.js
  anms-ui/public/app/store/modules/transcoder.js
  anms-ui/server/components/adms.js
  anms-ui/server/core/routes.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

updated sockdir for amp-manager and ion-manger to and external volume
  create_volume.sh
  docker-compose.yml
  light-compose.yml
  testenv-compose.yml
Due: none

updated upload to look for yang not JSON
  anms-ui/public/app/components/adm/Adm.vue
Due: anms-ui_unit-test

Move host mount source to env config
  .env
  .gitignore
  docker-compose.yml
  light-compose.yml
  puppet/modules/anms/templates/env.epp
  testenv-compose.yml
Due: none

Update README.md
  README.md
Due: none

Added parallel light compose config (#196)
  .env
  .gitignore
  README.md
  create_volume.sh
  deps/reftools.Dockerfile
  light-compose.yml
  puppet/modules/anms/templates/env.epp
  testenv-compose.yml
Due: anms-core_unit-test, anms-core_integration-test

added missing table for ui users
  deps/anms_db_tables/10-anms_core.sql
Due: anms-core_unit-test, anms-core_integration-test

fixing generaing ari with nested components
  anms-core/anms/agent_parameter.json
  anms-core/anms/routes/ARIs/reports.py
  anms-core/anms/routes/transcoder.py
  anms-ui/public/app/components/adm/Adm.vue
  anms-ui/public/app/components/management/agents/reports.vue
  anms-ui/public/app/components/management/builder/ActionParameter.vue
  anms-ui/public/app/components/management/builder/ParameterView.vue
  anms-ui/public/app/components/management/builder/ariBuilder.js
  anms-ui/public/app/components/management/builder/primParameter.vue
  anms-ui/public/app/components/management/monitor/Monitor.vue
  anms-ui/public/app/main.js
  deps/test-ion-configs/mgr.rc
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

latest grafana panels
  grafana/grafana_vol/grafana.db
Due: none

fixed aplication type for adm upload
  anms-core/anms/routes/adms/adm.py
  anms-ui/public/app/components/adm/Adm.vue
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

removed ion-manager from status
  anms-core/anms/routes/system_status.py
  anms-ui/config_ui_env.js
Due: anms-core_unit-test, anms-core_integration-test, anms-ui_unit-test

added back adminer
  docker-compose.yml
Due: none

added missing enviroment var for ion-agent3
  testenv-compose.yml
Due: none
